/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
//------------------------------------------------------------------------------
// Mixin from compass
@import "compass";
@import "susy";
@import "compass/css3";
@import "compass/typography/text/force-wrap";
@import "compass/typography/text";
//------------------------------------------------------------------------------
// Mixins & variables
@import "mixins-var/variables";
@import "mixins-var/mixins";
//------------------------------------------------------------------------------
//Base
@import "base/reset";
@import "base/fonts";
@import "base/layout";
@import "base/global";
//------------------------------------------------------------------------------
// Modules
@import "modules/slider";
@import "modules/swiper";
//------------------------------------------------------------------------------
// Particles
@import "partials/header";
@import "partials/footer";
@import "partials/buttons";
@import "partials/login";
@import "partials/sitebar";
@import "partials/banners";
@import "partials/taxonomy";
@import "partials/pager";
@import "partials/comments";
@import "partials/faq";
@import "pages/node";
@import "partials/slider-front-page";

//------------------------------------------------------------------------------
// Pages
@import "pages/news";
@import "pages/detail_info";
@import "pages/all-news";
@import "pages/subject-page";
@import "pages/search";
@import "pages/articles";
@import "pages/job_importer";
@import "pages/volunteer_jobs";

//------------------------------------------------------------------------------
// Error 404
@import "pages/system";

//------------------------------------------------------------------------------
// Customize this page
@import "partials/customize-this-page";


