<section class="section theme theme-douce">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>
<section class="section theme theme-grayblue">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>
<section class="section theme theme-mint">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>

