<section class="section section--no-spacing theme theme-primary">
  {% render '@appetiser' %}
</section>
<section class="section section--no-spacing theme theme-secondary">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>
<section class="section theme theme-yellow">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>
<section class="section theme theme-red">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>
<section class="section theme theme-seashell">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>
<section class="section theme theme-green">
  <div class="container">
    {% render '@appetiser' %}
  </div>
</section>

