<form id="cludo-search-form" role="search">
  <input type="search" class="search-input" aria-label="Search" aria-describedby="autocomplete_hint">
  <button type="submit" class="search-button" id="search-button">Search</button>
</form>
<div id="cludo-search-results">
  <div class="cludo-r">
    <div class="cludo-c-12" role="main">
      <div class="search-result-count"></div>
      <div class="search-did-you-mean"></div>
      <div class="search-results"></div>
    </div>
  </div>
</div>
