/**
 * Type: Theme.
 * Green theme.
 */

.theme-green {
  --theme-background-color: var(--color-primary);
  --theme-contact-block-item-background: var(--color-white);
  --theme-contact-block-item-box-shadow: 0 4px 44px rgba(0, 0, 0, .1);
}
