/**
 * Type: Theme.
 * Global theme styling.
 */

.section.theme {
  color: var(--theme-color);

  &:not(.section--spacing-top-negative) {
    background-color: var(--theme-background-color);
  }

  a:not(.button):not(.pager__link):not(.appetiser--small a):not(.inline-navigation__link-list-item):not(.breadcrumb__link) {
    color: var(--theme-link-color);
  }

  .button:not(.button--red):not(.button--green):not(.button--gray):not(.button--white) {
    background-color: var(--theme-button-background-color);
    color: var(--theme-button-color);
    background-image: var(--theme-button-background-image-path);
    padding: var(--theme-button-padding);

    &:hover {
      background-color: var(--theme-button-background-color-hover);
      color: var(--theme-button-color-hover);
    }
  }

  .divider::before {
    background-color: var(--theme-divider-background-color);
  }

  .accordion-item {
    border-color: var(--theme-accordion-border-color);
    background-color: var(--theme-accordion-background-color);
    color: var(--theme-accordion-text-color);
  }

  .accordion__toggle {
    color: var(--theme-accordion-toggle-text-color);
  }

  .checkbox,
  .radio {
    &:checked + label::before,
    &:not(:checked) + label::before {
      border-color: var(--theme-input-border);
    }

    &:checked + label::after,
    &:not(:checked) + label::after {
      border-bottom-color: var(--theme-input-color-marked);
      border-right-color: var(--theme-input-color-marked);
    }
  }

  .radio {
    &:checked + label::after,
    &:not(:checked) + label::after {
      background: var(--theme-input-color-marked);
    }
  }

  .input,
  .textarea,
  .select {
    color: var(--theme-color);
    background-color: var(--theme-background-color);
    border-color: var(--theme-input-border);

    &:focus {
      border-color: var(--theme-color);
    }

    &__description {
      color: var(--theme-color);
    }

    &__icon {
      fill: var(--theme-color);
    }
  }

  .status-message {
    background-color: var(--theme-status-message-background-color);
    color: var(--theme-color);

    &--status {
      background-color: var(--theme-status-message-background-color-status);
      color: var(--theme-status-message-color-status);
    }

    &--warning {
      background-color: var(--theme-status-message-background-color-warning);
      color: var(--theme-status-message-color-warning);
    }

    &--error {
      background-color: var(--theme-status-message-background-color-error);
      color: var(--theme-status-message-color-error);
    }
  }

  .pager__item {
    a {
      color: var(--theme-pager-link-color);
    }

    &--previous {
      background-color: var(--theme-pager-previous-background-color);

      &::after,
      &::before {
        background-color: var(--theme-pager-previous-arrow-color);
      }

      a {
        color: var(--theme-pager-previous-link-color);
      }
    }

    &--next {
      background-color: var(--theme-pager-next-background-color);

      &::after,
      &::before {
        background-color: var(--theme-pager-next-arrow-color);
      }

      a {
        color: var(--theme-pager-next-link-color);
      }
    }

    &.is-active {
      background-color: var(--theme-pager-active-background-color);

      a {
        color: var(--theme-pager-active-link-color);
      }
    }
  }

  .hero .icon--tree {
    fill: var(--theme-hero-icon-color);
  }
}
