/**
 * Type: Theme.
 * Primary theme.
 */

.theme-primary {
  --theme-background-color: var(--color-primary);
  --theme-color: var(--color-white);
  --theme-button-background-color: var(--color-white);
  --theme-button-color: var(--color-primary);
  --theme-link-color: var(--color-white);
  --theme-divider-background-color: var(--color-white);
  --theme-accordion-border-color: var(--color-primary);
  --theme-accordion-background-color: var(--color-white);
  --theme-accordion-text-color: var(--color-black);
  --theme-input-border: var(--color-white);
  --theme-input-color-marked: var(--color-white);
}
