//------------------------------------------------------------------------------
// News page
.news {
  width: 100%;
  margin: 23px 0;
  border-top: 1px solid $border-top-over-news;
  .content {
    padding: 0 !important;
  }
  h2 {
    text-transform: uppercase;
    background: $white;
    display: table;
    margin: -15px auto 0;
    padding: 0 10px;
    font: 28px $sans-book;
  }
  .news-list {
    color: $slategrey;
    @include container;
    @extend %clearfix;
    margin-top: 30px;
    li {
      @include span-columns(4, 16);
      &:last-child {
        article {
          padding-right: 0;
        }
      }
      // For ie8
      .lt-ie8 & {
        width: 23%;
        margin-right: 1%;
      }
      article {
        padding-right: 15px;
      }
      a {
        @include links($slategrey, $link-red);
      }
      .date {
        margin: 22px 0 15px;
        display: block;
        @include at-breakpoint(12 $width-768) {
          margin: 11px 7px;
        }
        a {
          font: 10pt Arial;
          color: $slategrey;
          font-weight: bold;
        }
      }
      p {
        a {
          font: 13pt Arial;
          color: $slategrey;
          line-height: 23px;
        }
      }
      &:last-child {
        margin-right: 0;
      }
      h1 {
        font-size: 16pt;
        font-weight: bold;
        line-height: 25px;
        min-height: 75px;
      }
      @include at-breakpoint(12 $width-768) {
        display: inline-block;
        vertical-align: top;
        float: none;
        margin-right: 0;
        &:last-child {
          margin-right: gutter(12);
        }
        &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @include at-breakpoint(12 $width-600) {
        margin-bottom: 20px;
        @include span-columns(6, 12);
        &:nth-child(3n) {
          margin-right: gutter(12);
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @include at-breakpoint(12 $width-480) {
        width: 100%;
        float: none;
        display: block;
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        &:nth-child(3n) {
          margin-right: gutter(12);
        }
      }
    }
  }
  .more-link {
    @include main_max_width(40px, 0);
    @include at-breakpoint(12 $width-1040) {
      max-width: 90%;
    }
    a {
      @include links($slategrey, $link-red);
      font: 10pt Arial;
      text-transform: uppercase;
      color: $slategrey;
      display: table;
      margin: 0 0 0 auto;
    }
  }
}
