//------------------------------------------------------------------------------
// Node type Kultunaut Import
.node-type-os2web-kultunaut-import {

  .pane-node-content {
    @include font-size(16);
  }

  .submitted {
    display: none;
  }

  .field {
    overflow: hidden;
    margin-bottom: 10px;

    h2 {
      margin-bottom: 10px;
    }
  }

  .field-label {
    float: left;
    min-width: 140px;
    font-family: $sans-med-strict;
  }

  .field-items {
    overflow: hidden;
  }
}
