# Ignore list
.idea/
.DS_Store
**/Gemfile.lock
.vagrant/
html/
backup/
build_reports/
taxon/
docroot/simplesamlphp/
docroot/*/files-private/
**/hacked/
docroot/sites/default/env.settings.php

# Hidden files and folders
#.*
.well-known/

# Hide env.settings.php
docroot/sites/*/env.settings.php
docroot/sites/default/files-private
!docroot/sites/*/settings.php
