# Ignore list
.idea/
.DS_Store
**/Gemfile.lock
.vagrant/
html/
backup/
build_reports/
taxon/
webroot/simplesamlphp/
webroot/*/files-private/
**/hacked/
webroot/sites/default/env.settings.php

# Hidden files and folders
#.*
.well-known/

# Hide env.settings.php
webroot/sites/*/env.settings.php
webroot/sites/default/files-private
!webroot/sites/*/settings.php
