.branding-spot {
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  background-color: var(--color-primary);

  &__bg {
    position: absolute;
    left: 25%;
    top: 50%;
    width: 50%;
    transform: translateY(-50%);

    & img {
      width: 100%;
      height: auto;
    }

    &--map-overlay {
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      transition: opacity .3s ease;
    }
  }

  &.active {
    .branding-spot__bg--map-overlay {
      opacity: 1;
    }
  }
}

