{{ attach_library('favrskov/branding-spot') }}

<div class="container">
  <div class="col-xs-12">
    <div class="branding-spot js-branding-spot">
      <div class="branding-spot__bg">
        <img src="/{{ directory }}/build-assets/dist/images/favrskov-danmarkskort.png" alt="Favrskov Kommune" class="branding-spot__bg--map" />
        <img src="/{{ directory }}/build-assets/dist/images/favrskov-danmarkskort-overlay.png" alt="Favrskov Kommune" class="branding-spot__bg--map-overlay" />
      </div>
    </div>
  </div>
</div>
