//-------------------all news--------------------

.page-nyheder .content-container {
  & > .content:first-child {
    padding-top: 46px;
  }
}
.content .list-content {
  .articles {
    .pane-go-back-link {
      //margin-top: 38px;
    }
    .list-elements {
      h1 {
        line-height: 35px;
        margin: 0;
        a {
          font: 28px Arial;
          font-weight: bold;
          @include links($dark-white-grey, $red);
        }
      }
      li {
        border-top: 1px solid $border-top-over-news;
        padding: 20px 0 35px;
        p {
          font: 13pt Arial;
          color: $slategrey;
          line-height: 25px;
          //margin: 25px 0 0;
        }
        &:last-child {
          border-bottom: 1px solid $border-top-over-news;
        }
      }
      .general-info {
        margin: 20px 0;
        span {
          font: 14px Arial;
          font-weight: bold;
          color: $dark-white-grey;
          margin-top: 10px;
        }
        a {
          font: 14px Arial;
          @include links($dark-white-grey, $red);
        }
      }
      .blog-preview {
        img {
          margin-bottom: 20px;
        }
      }
    }
  }
}
