//------------------------------------------------------------------------------
// Search page
.search {

  // Pattern background
  .main-wrapper {
    padding-top: 30px;
    background: url(../images/pat.png);
  }
  .content-container {
    background: $white;
  }

  // Layout

  .found {
    @include span-columns(7, 12);
  }

  .search-filters {
    @include span-columns(4 omega, 12);
  }


  // Headline
  .content-container h1 {
    @include font-size(55);
    font-family: $sans;
    color: $slategrey;
    margin: 30px 0;
  }

  // Search form
  .pane-apachesolr-form {
    background: $lightgrey;
    padding: 30px;
    margin-bottom: 30px;
    overflow: hidden;

    .form-item {
      float: left;
      width: 77%;

      &.form-type-textfield {
        height: 42px;
      }
    }

    // Search field
    .apachesolr-autocomplete {
      padding: 10px 15px;
      @include inline-block();
      background: $white;
      @include border-radius(0px);
      height: 100%;
      width: 100%;
    }

    // Search button
    .form-actions {
      margin-left: 3%;
      float: left;
    }
    .form-submit {
      background-color: $lime;
      color: $white;
      height: 42px;
      width: 170%;
      margin: 0;
      display: inline-block;
      @include border-radius(0px);
      @include transition-duration(.2s);
      cursor: pointer;
      &:hover {
        background-color: $slategrey;
      }
    }
  }

  // Checkbox
  .form-type-checkbox {
    clear: both;
    float: none;
    margin-top: 15px;
    .option,
    .form-checkbox {
      float: left;
      margin: 2px 10px 0 0;
      @include font-size(16);
      font-family: Arial;
      color: $dark-grey;
    }
  }

  //  Results list
  .pane-apachesolr-result {
    // Title
    h2 {
      @include font-size(24);
      border-bottom: 1px solid $border-top-over-all-news;
      font-family: $sans;
      color: $slategrey;
      padding: 20px 0 30px;
      font-weight: bold;
    }

    // No results list
    ul {
      @include font-size(15);
      line-height: 1.5;
      margin: 40px 0;
      color: $slategrey;
    }

    // List
    .search-result {
      padding: 15px 0;
      @include font-size(14);
      line-height: 1.5;
      border-bottom: 1px solid $border-top-over-all-news;
      overflow: hidden;

      // time
      time {
        @include font-size(14);
        color: $dark-grey;
        letter-spacing: -.05em;
      }

      // title
      .title {
        @include font-size(20);
        line-height: 1;
        margin: 15px 0;
        font-family: $sans;

        a { @include links($lime, $dark-grey)}
      }

      // Content
      .search-snippet-info {
        margin-bottom: 5px;
        p {
          font: 16px Arial;
          color: $dark-grey;
          line-height: 23px;
        }
      }

      // type
      .search-content-type {
        float: left;
        background-color: $lightgrey;
        padding: 2px 10px;
        margin-top: 5px;
        @include font-size(14);
        color: $dark-grey;
      }
    }
  }
}

//------------------------------------------------------------------------------
// Aside
// Filters
.btn-filters {
  display: none;
  width: 50px;
  height: 50px;
  text-indent: -999em;
  cursor: pointer;
  background: rgba($slategrey, .8) url(../images/sprite.png) no-repeat 3px -253px;
}

.search-filters {
  padding-top: 125px;

  .pane-block {
    padding: 20px 0;
    margin-bottom: 10px;
    border-top: 1px solid $border-top-over-all-news;
    &:last-child {
      border-bottom: 1px solid $border-top-over-all-news;
    }
  }

  h2 {
    @include font-size(24);
    font-family: $sans-medium;
    color: $dark-white-grey;
    padding: 0 0 10px;
    font-weight: bold;
  }

  // Filter list

  .item-list {
    li {
      position: relative;
      margin: 5px 0;
    }

    a {
    padding: 5px 10px;
    display: block;
    @include font-size(16);
    font-family: Arial;
    color: $lime;
    position: relative;
    z-index: 1;
    &:after {
      @extend %before-after;
      right: 12px;
      width: 18px;
      @include center-vertical(18);
      @include sprite(-9px, -179px);
    }
    &:hover,
    &.active {
      background-color: $grey;
      &:after {
        @include sprite(-33px, -179px);
      }
    }

    &.facetapi-inactive {
      padding-right: 25px;
      &:hover {
        &:after {
          @include sprite(-33px, -179px);
        }
      }
    }

    &.facetapi-active {
      text-indent: -999em;
      padding: 5px 0;
      &:after {
        @include sprite(-33px, -179px);
      }
      @include transition-duration(0s);
      @include font-size(16);

      &:hover {
        background: none;
        &:after {
          @include sprite(-33px, -179px);
        }
      }

      & + .active-filter {
        padding: 5px 10px;
        @include font-size(16);
        font-family: Arial;
        color: $lime;
        font-weight: bold;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        &:after {
          @include sprite(-33px, -179px);
        }
      }
    }
  }

    .active-filter {
      padding: 5px;
      display: block;

      background-color: $grey;
    }
  }

  img {
    position: absolute;
    right: 15px;
    top: 4px;
  }
  .sort {
    float: left;
    margin: 4px 10px 0 0;
  }
}


//------------------------------------------------------------------------------

// Responsive

//------------------------------------------------------------------------------

// Screen---- max-width(980px)
@include at-breakpoint($tablet) {
  .search {
    .pane-apachesolr-form{

      .form-type-textfield {
        width: 100%;
        margin-bottom: 10px;
        .apachesolr-autocomplete {
          max-width: none;
        }
      }

      .apachesolr-autocomplete {
        max-width: 95%;
        margin: 0;
        width: 100%;
      }
      .form-actions {
        margin-left: 0;
      }
    }

  }
}


// Tableet land ----max-width(871px)
@include at-breakpoint($tablet-land) {

}

// Tableet port ----max-width(767px)
@include at-breakpoint($tablet-port) {
  .search {

    // Layout
    .found {
      @include span-columns(12, 12);
    }
    .search-filters {
      @include span-columns(9, 12);
    }



    // Filters
    // Button
    .btn-filters {
      display: block;
      position: absolute;
      right: 23px;
      top: 385px;
    }


    // Filter results
    .filter-results {
      background-color: rgba($slategrey, .8);
      padding: 20px;
      display: none;
      position: absolute;
      top: 435px;
      right:23px;
      .pane-block {
        background: $white;
        .pane-title {
          padding: 0 10px;
        }
        &:last-child {
          margin-bottom: 0;
        }
      }
      &.animated {
        display: block;
      }
    }

    .search-filters {
      position: absolute;
      top: 320px;
      right: 0;
    }
  }
}


// Phone port -----max-width(480px)
@include at-breakpoint($phone-land) {
  .search {
    .pane-apachesolr-form .apachesolr-autocomplete {
      max-width: 90%;
    }
  }
}



// Phone port -----max-width(320px)
@include at-breakpoint($phone-port) {
   .search {
    // Layout
    .search-filters {
      @include span-columns(9, 12);
    }

    .pane-apachesolr-form .apachesolr-autocomplete {
      max-width: 85%;
    }
  }
}

