//------------------------------------------------------------------------------
// 404, 403 page

%height-100 {
  height: 100%;
}
%width-100 {
  width: 100%;
}
%position-absolute {
  position: absolute;
  top: 0;
}
.page-page-404,
.page-page-403 {
    .action-links {
      @include container;
      margin: 40px auto;
      @include at-breakpoint(12 $width-1040) {
        padding: 0 5%;
      }
      a {
        @include links($red, $dark-grey);
      }
  }
}
.errors-page {
  margin-top: 13%;
  @include container;
  .logo {
    margin: 0 0 50px;
    @include at-breakpoint(12 $width-768) {
      text-align: center;
    }
  }
  .left-side, .right-side {
    @include span-columns(6, 12);
    @include at-breakpoint(12 $width-768) {
      @include span-columns(12, 12);
    }
    &.right-side {
      margin-right: 0;
      .big-msg {
        margin: 20px 0;
        @include at-breakpoint(12 $width-768) {
          text-align: center;
        }
        h1 {
          color: $dimgray;
        }
      }
      .description {
        h2 {
          font-size: 18px;
          color: $dimgray;
          line-height: 25px;
          a {
            @include links($red, $dark-grey);
          }
        }
      }
    }
    &.left-side {
      .nav-search {
        height: 37px;
        position: relative;
        input[type="text"] {
          @include border-radius(5px);
          @extend %width-100;
          @extend %height-100;
          @extend %position-absolute;
          left: 0;
          background: $light-blue;
          padding: 9px 60px 9px 10px;
        }
        .form-actions {
          width: 50px;
          @extend %height-100;
          @extend %position-absolute;
          right: 0;
          .form-submit {
            @extend %width-100;
            @extend %height-100;
            text-indent: -9999px;
            background: url(../images/search_icon.png) no-repeat center center;
          }
        }
      }
    }
  }
}
