//------------------------------------------------------------------------------
// Slider
.front-slider {
  position: relative;
  margin-bottom: 62px;
  .pane-slider-slider-block,
  .swiper-container {
    margin: 0 auto;
    max-width: 981px;
    position:relative;
  }
  .gallery {
    max-height: 490px;

    img {
      max-width: none;
    }
  }
}

//  Main slides
.swiper-content {

  .content {
    padding: 0;
  }

  .short-about {
    display: none;
  }
}

//  Navigation
.pane-slider-slider-nav {
  position: absolute;
  top: 0;
  width: 100%;
}

.slide-controls {
  position: relative;
  padding: 0;

  .slider-nav-container {
    padding: 36px 0;
    @include at-breakpoint(12 $width-480) {
      padding: 10px 0;
    }
  }

  .view-content {
    background: $lightgrey;
    color: $gray;
    max-width: 361px;
    width: 361px;
    min-height: auto;
    z-index: 2;
    //@include center-vertical(403);
    left: 0;
    position: relative;
    .slide-description {
      height: 127px;
      margin-bottom: 10px;
      .mCSB_container {
        margin-right: 0 !important;
      }
      @include at-breakpoint(12 $width-480) {
        height: 70px;
      }
    }
    @include at-breakpoint(12 $width-480) {
      width: 108px;
      top: 0;
      margin: 0;
      overflow: hidden;
      height: 100%;
      position: absolute;
    }
    .title-slide {
      width: 80%;
      margin: 0 auto;
      display: none;
      &.active {
        display: block;
      }
      @include at-breakpoint(12 $width-480) {
        @include font-size(12);
        width: 90%;
        top: 13px;
        left: 5px;
        min-height: 50px;
        margin: 0 auto 10px;
      }
    }
    ul {
      height: 185px;
      overflow: hidden;
      margin-top: 45px;
      @include at-breakpoint(12 $width-480) {
        margin: 10px 0 30px;
      }
    }
    li {
      padding: 0 36px;
      cursor: pointer;
      margin-bottom: 2px;
      @include at-breakpoint(12 $width-480) {
        padding: 0;
      }
      &:hover,
      &.active-nav {
        .image {
          &:before {
            @extend %before-after;
            position: absolute;
            top: 0;left: 0;
            height: 100%;
            width: 100%;
            z-index: 10;
            background: rgba($liteGray, .6);
          }
        }
        .description {
          color: $liteGray;
        }
      }
      .image {
        float: left;
        width: 38%;
        height: 100%;
        margin-right: 4%;
        overflow: hidden;
        position: relative;
        @include at-breakpoint(12 $width-480) {
          float: none;
          width: 100%;
        }
        img {
          width: 100%;
          @include at-breakpoint(12 $width-480) {
            height: auto;
          }
        }
      }
      &:last-child {
        .description {
          border-bottom: 1px solid $slatgrayLight;
        }
      }
    }

     .inner {
        height: 51px;
        width: 100%;
        @extend %clearfix;
      }

      .description {
        @include font-size(14);
        line-height: 18px;
        float: left;
        width: 57%;
        height: 100%;
        border-top: 1px solid $slatgrayLight;
        padding: 8px;
        overflow: hidden;
        @include at-breakpoint(12 $width-480) {
          display: none;
        }
      }
  }
}



//------------------------------------------------------------------------------
//  Nodes slider

// Slides
.view-subject-subpages .swiper-slide {
  float: left;
  img {
    display: block;
  }
}

.image-description,
.video-descrition,
.node-slide-description {
  background-color: $grayLighter;
  @include font-size(14);
  line-height: 1.4;

  p {
    padding: 10px 18px 10px 0;
    color: $dark-grey;
  }

  .photographer {
    padding: 10px 18px 0;
    font-style: italic;
    @include font-size(12);
  }
}

// Pagination
.pagination {
  height: 12px;
  right: 133px;
  bottom: 77px;
  min-width: 300px;
  position: absolute;
  text-align: right;

  span {
    cursor: pointer;
    height: 11px;
    @include border-radius(11px);
    @include inline-block(top);
    margin-left: 5px;
    width: 11px;
    @include sprite(-100px, -330px);

    &:hover {
      background-position: -100px -343px;
    }
  }

  .swiper-active-switch {
    background-position: -100px -343px;
  }
}
// Node slider pagination
.view-subject-subpages {
  .pagination {
    top: 307px;
  }
}

// Navigation
.node-slider-nav {
  top: 284px;
  height: 34px;
  position: absolute;
  right: 19px;

  a {
    display: block;
    float: left;
    height: 34px;
    margin-left: 15px;
    text-indent: -999px;
    width: 34px;
    @include sprite(0, 0);
    @include transition-duration(0s);
  }

  .arrow-left {
    background-position: -100px -285px;

    &:hover {
      background-position: -100px -250px;
    }
  }

  .arrow-right {
    background-position: -135px -285px;

    &:hover {
      background-position: -135px -250px;
    }
  }
}

.view-slider {
  height: 488px;
  @include at-breakpoint(12 $width-480) {
    margin: 0 !important;
    height: 263px;
  }
  .pagination {
    bottom: 25px;
    right: 116px;
  }
}

.view-display-id-slider_with_nav .pagination{
  bottom: 25px;
  right: 116px;
  position: absolute;
}

.view-display-id-slider_with_nav {
  .content {
    padding: 0;
  }
}

// Prev next block
  .nav-btn {
    @include transition-property(all);
    @include transition-timing-function(ease-in);
    @include transition-duration(.1s);
    @include sprite(-93px, -371px, rgba($black, .4));

    // background-color: rgba($black, .4);
    display: block;
    height: 48px;
    margin-top: -24px;
    position: absolute;
    text-indent: -999em;
    top: 50%;
    width: 30px;
    z-index: 10;

    .lt-ie9 & {
      background: url(../images/sprite.png) no-repeat;
      background-position: -93px -371px;
      background-color: $black;
    }
    &:hover {
      background-color: rgba($black, .6)
    }
  }

  .arrow-right {
    right: 0;
    background-position: -132px -371px;

    .lt-ie9 & {
      background-position: -132px -371px;
    }
  }

// Slider with Navigation
.about-slide {
    @include transition-property(all);
    @include transition-timing-function(ease-in);
    @include transition-duration(.1s);
    background: $white;
    color: $gray;
    padding: 26px 22px 21px 17px;
    width: 336px;
    position: absolute;
    top: 137px;
    left: 0;
    z-index: 10;

    a {
      text-indent: -999em;
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      z-index: 9;
      // IE bug fix with transparent links which have position absolute
      background: url('about:blank');
    }

    .headline {
      padding: 16px 5px;
      z-index: 1;
    }

    h1 {
      font-family: $sans;
      @include font-size(43);
      color: $darkGray;
    }

    h2 {
      @include font-size(16);
      margin-bottom: 10px;
    }

    &:hover {
      color: $liteGray;
      cursor: pointer;
    }
}

//------------------------------------------------------------------------------

// Responsive

//------------------------------------------------------------------------------



