// mCustomScrollbar hide controls
@include at-breakpoint(12 $width-480) {
  .mCSB_container {
    margin-right: 0 !important;
  }
  .mCSB_scrollTools {
    right: -20px !important;
  }
}

//Basic Swiper Styles

.swiper-container {
  position: relative;
  img {
    max-width: none;
    display: block;
  }
  &.swiper-content {
    @include at-breakpoint(12 $width-480) {
      height: 262px;
    }
  }
  background-color: #f0f0f0;
  height: 460px;
  position: relative;
  overflow: hidden;
  @include backface-visibility(hidden);
  // Fix of Webkit flickering
  z-index: 1;
}

// Controls swiper left/right
.controls-left-right-swiper {
  width: 40px;
  @include center-vertical(60);
  z-index: 1;
  background: $black;
  @include opacity(0.5);
  cursor: pointer;

  @include at-breakpoint(12 $width-980) {
    display: none;
  }

  // For ie8
  .lt-ie8 & {
    z-index: 15;
  }

  &:before {
    @extend %before-after;
    @include center-block(10, 24);
  }
  &.arrow-left-swiper {
    left: -40px;
    &:before {
      @include sprite(-12px, -144px);
    }
  }
  &.arrow-right-swiper {
    right: -40px;
    &:before {
      @include sprite(-32px, -144px);
    }
  }
}

// Node slider
.view-subject-subpages .swiper-container {

  z-index: 1;
  img {
    width: 100%;
  }
}

.view-subject-subpages .swiper-container {
  .swiper-wrapper {
    overflow: hidden;
    // for article
    .node-type-article & {
      overflow: visible;
    }
  }
}

.swiper-nav .swiper-slide {
  position: relative;
}

.swiper-wrapper,
.swiper-nav-wrapper {
  position: relative;

  // @include transition-property(transform, left, top);
  @include transition-duration(0s);
  @include transform(translate3d(0px, 0, 0));
  @include transition-timing-function(ease);

}

.slider-wrapper {
  height: 800px;
}

.slider-slide {
  height: 100px;
}

.swiper-free-mode > .swiper-wrapper {
  @include transition-timing-function(ease-out);
  margin: 0 auto;
}

.swiper-content,
.swiper-nav-wrapper {
  .swiper-slide {
    float: left;
    height: 490px;
  }
}

/* IE10 Windows Phone 8 Fixes */
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
}

.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
}

//Your custom styles, here you need to specify container's and slide's
// sizes, pagination, etc.
.slider-nav-container {
  /* Specify Swiper's Size: */
  height: 245px;
}

.swiper-nav .swiper-slide {
  /* Specify Slides's Size: */
  width: 100%;
  height: 51px !important;
}

.swiper-slide-active {
  /* Specific active slide styling: */

}

.swiper-slide-visible {
  /* Specific visible slide styling: */

}

//Pagination Styles
.swiper-pagination-switch {
  /* Stylize pagination button: */

}

.swiper-active-switch {
  /* Specific active button style: */

}

.swiper-visible-switch {
  /* Specific visible button style: */

}


