{{ attach_library('favrskov/search-toggle') }}

<a href="#" class="search-toggle js-search-toggle">
  {% include '@particles/svg-icon/svg-icon.twig' with {
    'attributes': '',
    'svgIconName': 'search'
  } %}
  <div class="search-toggle__label">{{ 'Search'|t }}</div>
</a>
