/**
 * Type: Molecules.
 * Search toggle.
 */

.search-toggle {
  cursor: pointer;
  flex-shrink: 0;
  flex-grow: 0;
  height: 100%;
  display: inline-flex;
  align-items: center;
  font-weight: 300;
  font-size: var(--base-font-size-extra-small);
  justify-content: center;

  @media (--viewport-md-min) {
    height: 70%;
    margin-left: 40px;
    padding-left: 40px;
    border-left: solid 1px var(--color-gray);
    font-size: var(--base-font-size);
  }

  .icon--search {
    width: 26px;
    height: 26px;
    fill: var(--header-selected-text-color);
    margin-right: 10px;
  }
}
