{{ attach_library('favrskov/search-toggle') }}

<div class="search-toggle js-search-toggle">
  {% include '@particles/svg-icon/svg-icon.twig' with {
    'attributes': '',
    'svgIconName': 'search'
  } %}
  {{ 'Search'|t }}
</div>
