/**
 * Type: Molecules.
 * Navigation.
 */

.navigation {
  height: 100%;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
  display: block;
  width: 100%;

  .navigation-list {
    display: flex;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0;
    padding: 0;
  }
}

.navigation-item {
  margin: 0;
  padding-right: 1px;
  display: flex;
  align-items: center;
  width: 33.33333333%;
  height: 100%;
  color: var(--header-text-color);
  cursor: pointer;
  background-color: var(--color-white);

  .icon--arrow-line-down {
    fill: currentColor;
    width: 16px;
    height: 16px;
    margin-left: 7px;
    display: none;
  }

  &.active {
    .navigation-item__link {
      color: var(--header-selected-text-color);

      &::after {
        opacity: 1;
      }
    }
  }

  &--has-children {
    .icon--arrow-line-down {
      display: inline-block;
    }
  }

  &.open-sub-navigation {
    .sub-navigation {
      transform: scaleY(1);
      opacity: 1;
    }
  }

  &:hover,
  &:focus {
    .navigation-item__link {
      background-color: var(--color-primary-hover);

      &::after {
        width: 40%;
      }
    }
  }

  &__link {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
    text-decoration: none;
    font-size: var(--base-font-size-medium);
    font-weight: var(--header-font-weight);
    color: var(--color-white);
    background-color: var(--color-primary);
    text-align: center;
    line-height: var(--header-height-mobile);
    transition: background-color .3s;

    @media (--viewport-sm-min) {
      line-height: var(--header-height);
      font-size: var(--base-font-size-large);
    }

    &::after {
      content: '';
      position: absolute;
      width: 0;
      height: 4px;
      background-color: var(--color-white);
      transition: width .3s;
      transform: translateX(-50%);
      left: 50%;
      bottom: 0;
    }
  }
}
