{{ attach_library('favrskov/navigation') }}

<nav class="navigation js-navigation">
  <ul class="navigation-list">
    {# Loading items from the menu out here #}
    {%- for item in items -%}
      <li{{ create_attribute().addClass(['navigation-item', 'js-navigation-item']).addClass(item.in_active_trail ? 'active').addClass(item.below ? 'navigation-item--has-children') }}>
        {{ link(item.title, item.url, {'class': 'navigation-item__link'}) }}
        {% if item.below %}
          {% include '@particles/svg-icon/svg-icon.twig' with {
            'attributes': '',
            'svgIconName': 'arrow-line-down'
          } %}
          {% include '@molecules/sub-navigation/sub-navigation.twig' with {
            'items': item.below
          } %}
        {% endif %}
      </li>
    {%- endfor -%}
  </ul>
</nav>
