<input {{ (not attributes ? create_attribute() : attributes).addClass('checkbox').setAttribute('type', 'checkbox').setAttribute('name', name).setAttribute('value', value).setAttribute('id', id) }}>
<label for="{{ id }}" class="label">{{ label }}</label>
