<div class="parcel">
    <div class="parcel__header">
        <div class="parcel__address">Kornmarken 10</div>
        <div class="parcel__status parcel__status--available">Ledig</div>
    </div>
    <div class="parcel__group">GRuppe</div>
    <div class="parcel__information">
        <div class="parcel__line">
            <div class="parcel__line-label">Areal</div>
            <div class="parcel__line-value">978 m²</div>
        </div>
        <div class="parcel__line">
            <div class="parcel__line-label">Mindstepris</div>
            <div class="parcel__line-value">713.500 kr.</div>
        </div>
        <div class="parcel__line">
            <div class="parcel__line-label">Salgspris</div>
            <div class="parcel__line-value">713.500 kr.</div>
        </div>
    </div>
    <div class="parcel__documents">
        {{ render '@link-list' links }}
    </div>
</div>
