/**
 * Type: Molecules.
 * Image slideshow.
 */

.image-slideshow-wrapper {
  outline: none;
  position: relative;
  cursor: grab;
  width: 100%;
  max-width: 730px;
  margin: 0 auto;

  .flickity-viewport {
    overflow: hidden;
  }

  .flickity-page-dots {
    bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

    @media print {
      display: none;
    }

    .dot {
      position: relative;
      width: 12px;
      height: 12px;
      background-color: rgba(255, 255, 255, .75);
      border-radius: 50%;
      cursor: pointer;
      opacity: 1;
      margin: 20px 15px;
      transition: background-color .3s;

      &:not(:last-child) {
        margin-right: 20px;
      }

      &.is-selected {
        width: 20px;
        height: 20px;
        background-color: var(--color-white);

        &::before {
          content: '';
          background-color: rgba(255, 255, 255, .3);
          width: 46px;
          height: 46px;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          border-radius: 50%;
        }
      }
    }
  }
}

.image-slideshow {
  outline: none;
  list-style: none;
  margin: 0;
  padding: 0;
}

.image-slideshow-slide {
  width: 100%;
  position: relative;

  div:not(.contextual),
  picture,
  img {
    height: inherit;
    max-height: inherit;
    display: block;
  }

  img {
    width: 100%;
  }

  &__content {
    width: 90%;
    max-width: 800px;
    position: absolute;
    left: 50%;
    bottom: 60px;
    color: white;
    text-align: center;
    z-index: 2;
    opacity: 0;
    transform: translateY(20px) translateX(-50%);
    transition: all .7s .3s;
    will-change: transform;
  }

  &.is-selected {
    .image-slideshow-slide__content {
      opacity: 1;
      transform: translateY(0) translateX(-50%);
    }
  }
}
