{{ attach_library('favrskov/language-menu') }}

<div class="language-menu" id="js-language-menu">
  <div class="language-menu__trigger" id="js-language-menu-trigger" @click="toggleLanguageMenu()">
    {% include '@particles/svg-icon/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'globe'
    } %}
    {{ 'Choose Country'|t }}
    {% include '@particles/svg-icon/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'arrow-down'
    } %}
  </div>
  <ul class="language-menu-list" :class="{ 'active': isOpen }" id="js-language-menu-list">
    {%- for item in links -%}
      <li class="language-menu-list-item">
        {{ item.link }}
      </li>
    {%- endfor -%}
  </ul>
</div>
