/**
 * Type: Organisms.
 * Pager.
 */

.pager {
  padding-left: 0;
  margin-top: 50px;

  &__items {
    padding-left: 0;
    list-style: none;
    text-align: center;
  }

  &__item {
    background-color: var(--color-gray);
    display: inline-block;
    padding: 11px 9px 11px;
    min-width: 35px;
    text-align: center;
    font-size: var(--base-font-size-small);
    box-shadow: 0 2px 0 0 var(--color-gray);

    &.is-active {
      font-weight: bold;
    }
  }

  a {
    text-decoration: none;
    color: var(--theme-link-color);
  }
}
