.dynamic-background-picture {
  display: inline-block;
  vertical-align: top;
  margin-left: 22px;
  min-height: 105px;
}

.dynamic-background-picture img {
  display: block;
  margin: auto;
  margin-bottom: 4px;
}

#edit-dynamic-background .fieldset-description {
  margin-bottom: 20px;
}

#edit-submit.form-submit {
  display: block;
}