/**
 * Type: Organisms.
 * Inline navigation.
 */

.inline-navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  &__list {
    width: 100%;
    outline: none;
    list-style: none;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;

    @media (--viewport-sm-min) {
      display: flex;
      flex-wrap: wrap;
    }

    @media (--viewport-md-min) {
      padding: 0;
    }

    @media (--viewport-lg-min) {
      margin: -50px;
    }
  }

  &__see-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    @media (--viewport-md-min) {
      margin-top: 100px;
    }
  }

  &--one-column {
    .inline-navigation-item {
      @media (--viewport-md-min) {
        width: 100%;
      }
    }
  }

  &--two-columns {
    .inline-navigation-item {
      @media (--viewport-md-min) {
        width: calc(50% - 100px);
      }

      &__image {
        &::before {
          @media (--viewport-sm-min) {
            padding-top: 75%;
          }
        }
      }
    }
  }

  .flickity-button:disabled {
    opacity: 0;
  }
}
