{{ attach_library('favrskov/inline-navigation') }}
{%
  set classes = [
    'inline-navigation',
    is_slider ? 'inline-navigation-campaign'
  ]
%}
<div{{ (not attributes ? create_attribute() : attributes).addClass(classes) }}>
  {% block block_content %}{% endblock %}
  <ul class="inline-navigation__list {{ is_slider ? 'js-inline-navigation-slider' }}">
    {% block content %}
      {% for item in items %}
        {% include '@molecules/inline-navigation-item/inline-navigation-item.twig' with {
          'url': item.url,
          'media': item.media,
          'label': item.label,
          'teaser': item.teaser
        } %}
      {% endfor %}
    {% endblock %}
  </ul>
</div>
