/**
 * Type: Organisms.
 * Inline navigation.
 */

.inline-navigation {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;

  @media (--viewport-md-max) {
    .layout--twocol-section & {
      margin-left: calc(-1 * var(--container-spacing));
      margin-right: calc(-1 * var(--container-spacing));
    }

    &-campaign,
    &-news {
      margin-left: calc(-1 * var(--container-spacing));
      margin-right: calc(-1 * var(--container-spacing));

      .inline-navigation__list {
        padding-left: 0;
        padding-right: 0;
      }
    }
  }

  &-news {
    @media (--viewport-md-min) {
      .pager {
        margin-top: 60px;
      }
    }
  }

  &__list {
    width: 100%;
    outline: none;
    list-style: none;
    margin-top: 0;
    padding-left: 0;
    padding-right: 0;

    @media print {
      display: flex;
      flex-wrap: wrap;
    }

    @media (--viewport-lg-min) {
      padding-left: 20px;
      padding-right: 20px;

      &:not(.js-inline-navigation-slider) {
        display: flex;
        flex-wrap: wrap;
        margin: -25px;
        padding: 0;

        .inline-navigation-link-list & {
          margin: 0;
        }

        .section--spacing-top-negative & {
          margin: 0;
        }
      }

      &.inline-navigation__link-list-wrapper {
        padding: 25px;
      }

      &.js-inline-navigation-slider {
        display: flex;
        flex-wrap: wrap;
        margin: -25px;
        padding: 0;

        .inline-navigation-link-list & {
          margin: 0;
        }

        .section--spacing-top-negative & {
          margin: 0;
        }
      }
    }

    @media (--viewport-md-max) {
      .inline-navigation-image & {
        display: flex;
        flex-wrap: wrap;
        margin: -25px;
        padding: 0;
      }
    }

    @media print {
      .inline-navigation-image & {
        margin: 0;
      }
    }
  }

  &__link-list {
    &-content {
      background-color: var(--color-primary);
      color: var(--color-white);
      flex-direction: column;
      display: flex;
      flex-wrap: wrap;

      @media print {
        width: 100%;
      }
    }

    &-title {
      padding-top: 55px;
      padding-left: 15px;
      padding-right: 15px;
      margin-bottom: 35px;
      text-align: center;
      font-weight: normal;
      font-size: var(--base-font-size-xlarge);
      width: 100%;
      hyphens: auto;
      word-break: break-word;

      @media (--viewport-ms-max) {
        padding-top: 40px;
        font-size: 28px;
      }
    }

    &-item {
      position: relative;
      border-top: 1px solid var(--color-white);
      padding-top: 25px;
      padding-left: 75px;
      padding-right: 35px;
      padding-bottom: 25px;
      color: var(--color-white);
      font-size: var(--base-font-size-medium);
      text-decoration: none;
      width: 100%;
      hyphens: auto;
      word-break: break-word;

      & .inline-navigation-item__arrow {
        top: 22px;
        left: 25px;
        transform: translateX(0);
        width: 35px;
        height: 35px;
        background: none;
        border: 1px solid var(--color-white);
        padding: 12px 0 0 12px;
        transition: background .3s ease;
      }

      &:hover {
        & .inline-navigation-item__arrow {
          background-color: var(--color-white);

          & span {
            background-color: var(--color-primary);
            transition: background .3s ease;
          }
        }
      }
    }
  }

  &__see-more {
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;

    @media (--viewport-md-min) {
      margin-top: 100px;
    }
  }

  &--one-column {
    .inline-navigation-item {
      @media (--viewport-md-min) {
        width: 100%;
      }
    }
  }

  &--two-columns {
    .inline-navigation-item {
      @media (--viewport-md-min) {
        width: calc(50% - 100px);
      }

      &__image {
        &::before {
          @media (--viewport-sm-min) {
            padding-top: 75%;
          }
        }
      }
    }
  }

  .flickity-button:disabled {
    opacity: 0;
  }

  @media print {
    .flickity-viewport {
      overflow: visible;
      height: auto !important;
    }

    .flickity-slider {
      position: relative;
      left: auto !important;
      transform: translateX(0) !important;
      display: flex;
      height: auto;
    }
  }
}
