{{ attach_library('favrskov/header') }}

<header class="header">
  <div class="row">
    {% block topbar %}
      {% include '@molecules/meta-menu/meta-menu.twig' with {
        'links': meta_menu.links,
        'items': meta_menu.items,
      } %}
    {% endblock %}
    <div class="header__logo col-xs-6 col-md-3">
      {% block site_branding %}
        {% include '@molecules/logo/logo.twig' with logo %}
      {% endblock %}
    </div>
    <div class="header__inner header__search-burger col-xs-6 col-xs-offset-0 col-sm-4 col-sm-offset-2 col-md-3 col-md-offset-0 pl-xs-0 pr-xs-0 pr-md-0">
      {% if display_search_toggle %}
        {% include '@molecules/search-toggle/search-toggle.twig' %}
      {% endif %}
      {% if display_burger_toggle %}
        {% include '@molecules/burger/burger.twig' %}
      {% endif %}
    </div>
    <div class="header__inner header__navigation col-xs-12 col-md-6 pl-xs-0 pr-xs-0">
      {% block navigation %}
        {% include '@molecules/navigation/navigation.twig' with {
          'items': navigation.items
        } %}
      {% endblock %}
    </div>
  </div>
</header>
