/**
 * Type: Organisms.
 * Hearing page.
 */

.hearing-page {
  &__box {
    margin-top: -10%;

    @media (--viewport-sm-max) {
      margin-top: 0;
      order: 1;
      margin-bottom: 20px;
      display: flex;
      flex-direction: column;
    }
  }

  &__title h1 {
    margin-bottom: 30px;

    @media (--viewport-sm-min) {
      font-size: 38px;
    }

    @media (--viewport-sm-max) {
      order: 0;
    }
  }

  &__summary {
    display: none;
  }

  &__content {
    @media (--viewport-sm-max) {
      order: 3;
    }
  }

  &__back-link {
    display: inline-block;
    padding-top: 25px;
    color: var(--color-primary);

    svg {
      max-height: 12px;
      max-width: 15px;
      fill: var(--color-primary);
    }

    a {
      font-size: var(--base-font-size-medium);
      font-weight: var(--header-font-weight);
      text-decoration: none;
      color: var(--color-primary);
    }

    &.js-hidden {
      display: none;
    }
  }

  &__cta {
    padding-top: 30px;
  }

  & label {
    font-weight: var(--header-font-weight);
  }

  &__type {
    padding: 20px 30px;
    background: var(--color-secondary-light);
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--base-font-size-large);
    font-weight: var(--header-font-weight);
  }

  &__dates {
    padding: 20px 30px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--base-font-size-medium);
    order: 3;

    .cludo-info__deadline div,
    .cludo-info__pubdate div {
      display: inline;
      margin-right: 5px;
    }
  }

  &__info {
    border-bottom: 1px solid var(--color-gray-hover);
    font-size: var(--base-font-size-medium);
    order: 0;

    &--item {
      display: flex;
      flex-direction: row;

      & div,
      & label {
        display: inline-flex;
      }

      & label {
        min-width: 60px;
        padding-right: 10px;
      }
    }
  }

  &__info,
  &__extra {
    padding: 20px 30px;
    background-color: var(--color-gray);
  }
}
