// Both Titles for comments list and form
.pane-node-comments,
.pane-node-comment-form {
  padding: 50px 0 40px;
  clear: both;

  h2 {
    @include font-size(30);
    font-family: $sans-medium;
    margin-bottom: 35px;
  }
}

//------------------------------------------------------------------------------
// Contacts on page Web forms
.node-type-webform {
  .contact-info {
    @include font-size(16);
    h2 {
      @include font-size(16);
      font-family: $sans-medium;
      margin: 0;
    }
  }
}

//------------------------------------------------------------------------------
// Comments Add form
.pane-node-comments {
  // Vars
  $blue: #0d778e;
  $contrastblue: #44deff;

  #edit-cancel {
    background-color: #ca7f7f;
    cursor: pointer;
    display: inline-block;
    font: 9pt Arial;
    padding: 8px 25px;
    @include links($white, $white);
    margin-top: 5px;
    @include border-radius(5px);
    &:hover {
      background-color: #b24545;
    }
  }

  .comment {
    border-bottom: 1px solid $liteGray;
    @include font-size(15);
    line-height: 1.5;
    padding-bottom: 30px;
    margin-bottom: 30px;

    // Submitted
    .submitted {
      margin-bottom: 15px;
      @include font-size(13);
      color: $liteGray;
    }

    .permalink {
      display: none;
    }

    // Username
    .username {
      // @include font-size(15);
    }

    h3 {
      font-family: $sans-medium;
      @include font-size(19);
    }

    // Admin links
    .inline li {
      float: left;
      background-color: #ccc;
      margin-right: 5px;
      @include border-radius(5px);

      a {
        display: block;
        @include links($white, $white);
        padding: 5px 15px;
      }

      &.comment-delete {
        background-color: #ca7f7f;
        &:hover {
          background-color: #b24545;
        }
      }
      &.comment-edit,
      &.comment-reply,
      &.comment-approve {
        background-color: $blue;
        &:hover {
          background-color: $contrastblue;
        }
      }
    }
  }
}

//----------------------------------------------------------------------
// Comments Add form
// Here base styles for Web form and for Comments form
// Elements which similar and styled - Input text, Textarea, Submit buttons
// labels for them.

.ajax-comment-reply + .ajax-progress-throbber {
  position: absolute;
}

// Reply comments form
.ajax-comment-wrapper .comment-form {
  padding: 20px;
  background: #fcfcfc;
  border-radius: 10px;
  border: 1px solid #fff;
  margin-left: 20px;
  position: relative;

  &:after,
  &:before {
    right: 100%;
    top: 9%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
  }

  &:after {
    border-color: rgba(250, 250, 250, 0);
    border-right-color: #fcfcfc;
    border-width: 20px;
    margin-top: -20px;
  }

  &:before {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #fff;
    border-width: 21px;
    margin-top: -21px;
  }

  .form-item {
    margin-bottom: 20px;
  }

  // notify
  .form-item-notify-type {
    margin: 0 0 10px 20px;
  }

  .form-textarea {
    height: 125px;
  }

  .form-actions {
    margin-top: 35px;
  }

  // Submit btn
  .form-submit {
    margin-right: 20px;
  }

  .ajax-comments-reply-cancel {
    margin-left: 30px;
  }

  // Error messages
  .messages {
    margin-bottom: 10px;
  }

  // Throbber
  .ajax-progress {
    position: absolute;
    left: 50%;
    margin-left: -12px;
    bottom: 10px;
  }
}

// Comments form
// ---------------
.comment-form,
.webform-client-form,
.pane-node-comment-form,
.mailchimp-lists-user-subscribe-form {
  .grippie {
    display: none;
  }

  .form-item {
    margin-bottom: 35px;

    label {
      display: block;
      @include font-size(15);
      margin-bottom: 13px;
      color: $gray;

      .form-required {
        color: #FF9933;
      }
    }

    .field-prefix {
      display: block;
      margin-bottom: 13px;
    }
  }

  .form-text,
  .form-textarea {
    background-color: $lightgrey;
    height: 32px;
    border: 1px solid $liteGray;
    color: $gray;
    @include border-radius(0);
    width: 94%;
    padding: 9px 3%;
    line-height: 34px;
    @include font-size(14);
    @include box-sizing(content-box);
    overflow-y: auto;

    &.error {
      border-color: $red;
      background: #f8e5e5;
    }

    & + .description {
      margin-top: 7px;
    }
  }

  .form-textarea {
    padding-top: 3%;
    height: 273px;
    resize: vertical;
  }

  #edit-preview {
    background-color: #ca7f7f;
    margin-left: 10px;
  }

  .fieldset-description {
    margin-bottom: 10px;
  }

  legend + .fieldset-wrapper > .fieldset-description {
    margin: -18px 0 20px 10px;
  }

  .form-item-notify {
    margin: 10px 0 20px;
  }
  // override default comment notify styles :(
  #edit-notify-type .form-item-notify-type {
    display: block;
    margin-bottom: 10px;
  }

  // Radio btns styles
  .form-type-radio,
  .form-type-checkbox {
    margin-bottom: 10px;

    .option {
      @include inline-block();
    }

    label {
      margin-bottom: 0;
    }
  }

  .form-submit {
    margin: 20px 0;
  }
}

//------------------------------------------------------------------------------
// Hearing Response
.pane-pane-hearing-response {
  .webform-component-display {
    line-height: 1.3;
    margin-bottom: 20px;
    text-align: justify;
    @include font-size(16);
  }

  label {
    font-family: $sans-medium;
    min-width: 15%;
    @include font-size(17);
    @include inline-block();

    @include at-breakpoint(12 565px) {
      margin-bottom: 10px;
      min-width: 100%;
    }

    & + div {
      max-width: 84%;
      @include inline-block();
      vertical-align: top;

      @include at-breakpoint(12 565px) {
        max-width: 100%;
      }
    }
  }

}

//------------------------------------------------------------------------------
// Web client form

.webform-client-form,
.mailchimp-lists-user-subscribe-form {
  border-top: 1px solid $slategrey;
  clear: both;
  margin-top: 40px;
  padding-top: 40px;
  @include span-columns(12, 12);

  // description
  .description {
    margin: 10px 0;
    clear: both;
  }

  // Fieldsets
  fieldset,
  .webform-component-fieldset {
    padding: 25px 25px 0;
    border: 1px solid #ccc;
    margin-bottom: 35px;

    legend {
      padding: 0 10px;
      @include font-size(15);
    }
  }

  // Checkboxes elements and Radios
  .form-type-checkboxes,
  .webform-component-radios,
  .webform-component-checkboxes {

    .form-type-radio,
    .form-type-checkbox {
      margin-bottom: 15px;
    }
    .option,
    .form-radio,
    .form-checkbox {
      @include inline-block();
      @include font-size(14);
    }

    .option {
      margin: 0;
    }

    .error + .option {
      color: $red;
    }
  }

  // Select element
  select.error {
    border: 1px solid $red;
  }

  // File uploader component
  .webform-component-managed_file {
    .form-file.error {
      color: $red;
      border: 1px solid $red;
    }
    .form-submit {
      margin-left: 20px;
    }
  }

  // Grid component
  .webform-component-webform_grid {
    .sticky-header {
      display: none;
    }
    .sticky-table {

      th {
        padding: 10px;
        color: $white;
        border: 1px solid $gray;
      }

      td {
        padding: 10px;
        vertical-align: middle;
        border: 1px solid $gray;
      }

      // header of the grid
      thead {
        background-color: $slategrey;
      }
      // Checkboxes inside of the grid
      .checkbox {
        text-align: center;
      }

      .form-item {
        margin: 0;
      }
    }
  }

  // Time component
  .webform-component-webform_time {
    .option {
      @include inline-block();
      margin: 0;
      @include font-size(13);
    }
  }

  // Number component
  .webform-component-number {
    .form-number {
      border: 0 none;
      width: auto;
      line-height: 30px;
      height: 30px;
      padding: 3px;
    }
  }
}
