

// Subject page
.panels-ipe-editing {
  .information {
    height: auto;
    width: 50%;
    top: 310px;
    margin-top: 0;
    padding: 5px;
    @extend %clearfix;
    .panels-ipe-portlet-wrapper {
      float: left;
      width: 50%;
    }
  }

}
