//------------------------------------------------------------------------------
// Footer
.footer {
  display: block;
  height: 600px;
  background: url('../images/favrskov-fon-footer.png') center 100% $grey no-repeat;
}

.footer-wrapper {
  background: none !important;
  @include main_max_width(0, 0);
  padding: 55px 10px 0;
}

.footer-block {
  @include span-columns(3, 12);
  color: $dark-green;

  &:last-child {
    margin-right: 0;
  }
  &.logo {
    a {
      width: 192px;
      height: 69px;
      display: block;
      text-indent: -9999px;
      background: url('../images/logo.png') no-repeat;
      
    }
  }
  h2,h1 {
    color: #003F3D;
    font-size: 22px;
    font-family: $sans-medium;
    font-weight: bold;
    margin-bottom: 35px;
  }

  a, p, span {
    color: $dark-green;
    font-family: $sans-medium;
    line-height: 20px;
    font-weight: bold;
    font-size: 15px;
  }

  a {
    line-height: 26px;

    &:hover {
      text-decoration: underline;
    }
  }

}