//------------------------------------------------------------------------------
// Header global

.header {
  @extend %clearfix;
  border-bottom: 5px solid $header_bottom_line;
  max-width: 100%;
  background: none !important;
  position: relative;
  // For ie8
  .lt-ie8 & {
    min-width: 981px;
  }
  &:before {
    @extend %before-after;
    width: 100%;
    height: 15px;
    background: $dark-green;
  }
  .header-content {
    @include main_max_width(0, 0);
    min-height: 110px;
    @extend %clearfix;
    position: relative;

    // For ie8
    .lt-ie8 & {
      width: 981px;
      max-width: none;
    }

    @include at-breakpoint(12 $width-1040) {
      max-width: 90%;
    }
    @include at-breakpoint(12 $width-480) {
      max-width: 100%;
      min-height: 50px;
      .btn-navbar {
        background-color: #8a8a8a;
        cursor: pointer;
        display: block;
        width: 56px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 4;
        padding: 10px 10px;
        span {
          display: block;
          background: #fff;
          height: 5px;
          margin: 4px 0;
        }
      }
    }
  }

  // Logo
  .logo {
    width: 194px;
    height: 72px;
    overflow: hidden;
    margin-top: 17px;
    float: left;
    margin-left: 23px;
    @include at-breakpoint(12 $width-980) {
      float: none;
      margin: 30px auto 120px;
    }
    @include at-breakpoint(12 $width-480) {
      margin: 50px auto 15px;
    }
  }
  .nav {
    margin-top: 50px;
    @extend %clearfix;
    position: absolute;
    top: 0;
    right: 277px;
    @include at-breakpoint(12 $width-980) {
      position: static;
      text-align: center;
    }
    &.animated {
      display: block !important;
    }
    a {
      font-family: $sans-medium;
      color: #333;
      font-size: 20px;
      padding: 10px 20px 0;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      height: 60px;
      background: $light-blue;
    }
    li {
      float: left;
      height: 60px;
      margin-right: 2px;
      @include at-breakpoint(12 $width-980) {
        float: none;
        @include inline-block(top);
        margin-right: -2px;
      }
      &.active {
        a {
          background: $grey;
        }
      }
    }

    @include at-breakpoint(12 $width-480) {
      top: 50px;
      left: 0;
      position: fixed;
      width: 80%;
      margin: 0;
      text-align: left;
      z-index: 3;
      display: none;
      li {
        display: block;
        height: auto;
        & a.active {
          background: $dark-grey;
        }
      }
      a {
        font-size: 15px;
        color: $white;
        background: #272727;
        padding: 15px 10px;
        height: auto;
        border-bottom: 1px solid $dark-grey;
        &:hover {
          background: $dark-grey;
        }
      }
    }
  }
  .search-contact {
    width: 230px;
    float: right;
    margin-top: 50px;
    margin-right: 30px;
    @include at-breakpoint(12 $width-980) {
      float: none;
      top: 90px;
      @include center-horizontal(380);
      margin-top: 0;
      text-align: center;
    }
    @include at-breakpoint(12 $width-480) {
      width: 100%;
      height: 51px;
      left: 0;
      top: 0;
      margin: 0;
      background: #000;
      position: fixed;
      z-index: 3;
    }
  }

  .search {
    position: relative;
    height: 34px;
    .menu {
      position: absolute;
      right: 0;
      top: -50px;
      @include at-breakpoint(12 $width-980) {
        position: static;
      }
      @include at-breakpoint(12 $width-480) {
        display: none;
      }
      li {
        float: left;
        margin-left: 17px;
        @extend %clearfix;
        @include at-breakpoint(12 $width-980) {
          float: none;
          @include inline-block(top);
        }
      }
      a {
        font-family: $sans-medium;
        font-size: 11pt;
        text-decoration: none;
        @include links(#333, $red);
        text-transform: uppercase;
        padding: 18px 0;
        display: block;
      }
    }
    input[type="text"] {
      width: 100%;
      height: 34px;
      background-image: none;
      background-color: $light-blue;
      @include border-radius(5px);
      padding: 0 40px 0 10px;

      // For ie8
      .lt-ie8 & {
        padding-top: 10px;
      }

      @include at-breakpoint(12 $width-480) {
        background: #fff;
        @include border-radius(0px);
      }
    }
    input[type="submit"] {
      cursor: pointer;
      position: absolute;
      width: 41px;
      height: 100%;
      top: 0;
      right: 0;
      text-indent: -9999px;
      z-index: 1;
      background: url(../images/search_icon.png) no-repeat center center;
      @include at-breakpoint(12 $width-980) {
        top: 52px;
      }
      @include at-breakpoint(12 $width-480) {
        top: 0;
      }
    }
    @include at-breakpoint(12 $width-480) {
      @include center-vertical(34);
      right: 4%;
      width: 72%;
    }
  }

  // For admin
  .drupal-system {
    width: 100%;
    min-height: 30px;
    background: $grey;
    border-top: 5px solid $header_bottom_line;
    .status, .error {
      @include main_max_width(0, 0);
    }
    .tabs {
      @include main_max_width(4px, 0);
      li {
        display: inline-block;
        a {
          font: 15px Arial;
          color: $white;
          display: block;
          padding: 5px 10px;
          background: #555;
        }
      }
    }
  }

}