  //---------------------------------------------------------------------- Pager
  .item-list .pager {
    overflow: hidden;
    margin: 30px 0;
    text-align: center;
    @include font-size(15);

    li {
      @include inline-block(middle);
      margin: 0;
      color: $lime;
      &.pager-current {
        @include inline-block(middle);
        padding: 3px 10px;
      }
      a {
        font: 15px Arial;
        font-weight: bold;
        padding: 3px 10px;
        display: block;
        color: $lime;
      }

      &.pager-last,
      &.pager-first {
        display: none;
      }

      &.pager-previous,
      &.pager-next {
        text-transform: lowercase;

        font-weight: bold;
        &:hover  {
          background-color: transparent;
          a { color: $white;}

        }
      }

      &.pager-next {
        float: right;
      }

      &.pager-previous {
        float: left;
      }

      &:hover,
      &.pager-current {
        color: $white;
        background-color: $lime;
        cursor: default;
      }


    }
  }
