
//--------------------SITEBAR---------------------

.sidebar, .list-sidebar {
  @include span-columns(4 omega, 12);
  .toggle-share, .print_data {
    display: none;
  }
  .panel-pane {
      &:not(:first-child) {
      border-bottom: 1px solid $border-top-over-news;
    }
  }
  .social-links {
    @extend %clearfix;
    li {
      float: left;
    }
  }
  .addthis_toolbox, .social-links {
    margin: 60px 0 54px;
    a {
      margin-right: 5px;
    }
    span, a {
      width: 40px !important;
      height: 40px !important;
      text-indent: -9999px;
      display: block;
    }
    .addthis_button_facebook, .icon-facebook {
      span, a {
        @include sprite(0, 0);
      }
    }
    .addthis_button_twitter, .icon-twitter {
      span, a {
        @include sprite(-50px, 0);
      }
    }
    .addthis_button_google_plusone_share, .icon-youtube {
      span, a {
        @include sprite(-100px, 0);
      }
    }
  }
  h2 {
    font: 24px $sans-medium;
    color: $dark-grey;
    margin: 23px 0;
  }
  .views-summary {
    li {
      margin-bottom: 15px;
    }
    a {
      font: 16px Arial;
      color: $white-red;
      &:hover {
        font-weight: bold;
      }
    }
  }
  .see-all-link {
    padding-bottom: 27px;
    a {
      font: 18px Arial;
      color: $dark-grey;
    }
  }
}
