
//--------------------SITEBAR---------------------

.sidebar, .list-sidebar {
  @include span-columns(4 omega, 12);

  .panel-pane {
      &:not(:first-child) {
      border-bottom: 1px solid $border-top-over-news;
    }
  }
  .social-links {
    @extend %clearfix;
    li {
      float: left;
    }
  }
  .addthis_toolbox, .social-links {
    margin: 10px 0;
    a {
      margin-right: 5px;
    }
    span, a {
      width: 32px;
      height: 32px;
      text-indent: -9999px;
      display: inline-block;
      margin-right: 5px;
    }
   // .addthis_button_facebook,
    .icon-facebook {
     // span,
      a {
        @include sprite(0, 0);
        width: 38px !important;
        height: 38px !important;
        &:hover {
          @include sprite(-160px, 0);
        }
      }
    }
   // .addthis_button_twitter,
    .icon-twitter {
     // span,
      a {
        @include sprite(-50px, 0);
        width: 38px !important;
        height: 38px !important;
        &:hover {
          @include sprite(-210px, 0);
        }
      }
    }
  //  .addthis_button_google_plusone_share,
    .icon-youtube {
     // span,
      a {
        @include sprite(-100px, 0);
        width: 38px !important;
        height: 38px !important;
        &:hover {
          @include sprite(-260px, 0);
        }
      }
    }
  }
  h2 {
    font: 24px $sans-medium;
    color: $dark-white-grey;
    margin: 23px 0;
  }
  .views-summary,
  .view-blogs-filters .item-list {
    margin-bottom: 40px;
    li {
      margin-bottom: 15px;
    }
    a {
      font: 15px Arial;
      color: $link-red;
      padding: 0 5px;
      &:hover {
        font-weight: bold;
        color: $link-red;
      }
      &.active-category {
        background: $grey;
        color: $dark-grey;
      }
    }
  }
  .see-all-link {
    padding-bottom: 27px;
    a {
      font: 18px Arial;
      color: #666;
      @include links($dark-grey, $red);
    }
  }
}


// Article
.node-type-article {
  .sidebar {
    .addthis_toolbox {
      display: none;
    }
    .node-share {
      margin: 40px 0 28px;
      & > a {
        display: block;
        float: left;
        margin-right: gutter(2);
        margin-bottom: 10px;
        font: 14px Arial;
        color: $dimgray;
        text-transform: uppercase;
        &:hover {
          color: $red;
        }
      }
      @extend %clearfix;
    }
    .menu-name-main-menu {
      background: $grey;
      & > .menu {
        a {
          display: block;
          width: 100%;
        }
        & > li {
          min-height: 43px;
          position: relative;
          border-top: 1px solid $white;
          &:after {
            width: 12px;
            @extend %before-after;
            @include center-vertical(22);
            right: 23px;
            @include sprite(-13px, -110px);
          }
          &.active-trail {
            &:after {
              background: none;
            }
            & > a {
              background: $dark-green;
              font-weight: bold;
              color: $white;
              position: relative;
              &:after {
                width: 22px;
                @extend %before-after;
                @include center-vertical(9);
                right: 16px;
                @include sprite(-32px, -116px);
              }
            }
          }
          & > a {
            padding: 13px 40px 13px 32px;
            font: 16px Arial;
            color: #666;
            font-weight: bold;
          }
          .menu {
            padding: 20px 34px;
            li {
              position: relative;
              margin: 7px 0;
              &:before {
                width: 7px;
                @extend %before-after;
                @include center-vertical(12);
                left: 0;
              }
              &.active-trail {
                background: none;
              }
              a {
                font: 16px Arial;
                color: #666;
                padding: 5px 12px;
                padding-right: 0;
                @include sprite(-65px, -104px);
                &:hover,
                &.active-trail {
                  font-weight: bold;
                }

              }
            }
          }
        }
      }
    }
  }
}
