/**
 * Type: Atom.
 * Button.
 */

.button,
a.button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  overflow: hidden;
  border-radius: var(--button-border-radius);
  min-height: var(--button-height);
  padding: var(--theme-button-padding);
  background-color: var(--theme-button-background-color);
  color: var(--theme-button-color);
  font-weight: var(--button-font-weight);
  font-family: var(--button-font-family);
  font-size: var(--base-font-size);
  border: var(--button-border-width) solid var(--button-border-color);
  background-image: var(--theme-button-background-image-path);
  background-repeat: no-repeat;
  background-position: right 20px center;
  background-size: 8px;
  transition: background-position .2s;

  @media (--viewport-md-min) {
    font-size: var(--base-font-size-medium);
  }

  &[disabled],
  [disabled] & {
    opacity: .6;
    pointer-events: none;
  }

  &:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
    background-color: var(--theme-button-background-color-hover);
    color: var(--theme-button-color-hover);
    background-position: right 18px center;
  }

  &--center {
    left: 50%;
    transform: translateX(-50%);
  }

  &--right {
    left: 100%;
    transform: translateX(-100%);
  }

  &--red {
    background-color: var(--color-cta);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-cta-hover);
    }
  }

  &--green {
    background-color: var(--color-primary);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-primary-hover);
    }
  }

  &--gray {
    background-color: var(--color-gray);
    color: var(--color-text);
    background-image: none;
    padding: var(--button-padding);

    &:hover {
      background-color: var(--color-gray-hover);
    }
  }

  &--white {
    background-color: var(--color-white);
    color: var(--color-text);
    background-image: none;
    padding: var(--button-padding);

    &:hover {
      background-color: var(--color-primary);
      color: var(--color-white);
    }
  }
}
