{#
/**
 * @file
 * Theme override for a breadcrumb trail.
 *
 * Available variables:
 * - breadcrumb: Breadcrumb trail items.
 */
#}
<div class="container">
  {% include '@molecules/breadcrumb/breadcrumb.twig' with {
    'breadcrumb_json_data': breadcrumb_json_data,
    'attributes': attributes,
    'items_attributes': items_attributes,
    'breadcrumb': breadcrumb,
    'disable': disable
  } %}
</div>
