//------------------------------------------------------------------------------
// Main sprite

@mixin sprite($x, $y, $bg-color: transparent, $sprite: '../images/sprite-favrskov.png') {
  background: $bg-color url(#{$sprite}) no-repeat $x $y;
}

//------------------------------------------------------------------------------
// Font resizing

@mixin font-size($sizeValue: 13) {
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 16) + rem;
}

//------------------------------------------------------------------------------
// Links

@mixin links($color: $dark-grey, $hover: $red, $text-decoration: none, $text-decoration-hover: underline) {
  color: $color;
  text-decoration: $text-decoration;

  &:hover, &:focus {
    color: $hover;
    text-decoration: $text-decoration-hover;
  }
}

//------------------------------------------------------------------------------
// Input fields

@mixin inputs($width: auto, $height: auto, $border: none, $color: black) {
  height: $height;
  width: $width;
  border: $border;
  background-color: #fff;
  padding: 0 5px;
  color: $color;
}

//------------------------------------------------------------------------------
// Submit Button

@mixin submit($width: auto, $height: auto, $border: none, $color: #fff) {
  width: $width;
  height: $height;
  line-height: $height;
  border: $border;
  color: $color;
  padding: 5px;
}

//------------------------------------------------------------------------------
// Center block
@mixin center-block($w, $h) {
  position: absolute;
  width: $w+px;
  height: $h+px;
  top: 50%;
  left: 50%;
  margin-left: -($w/2)+px;
  margin-top: -($h/2)+px;
}

@mixin center-vertical($h) {
  position: absolute;
  height: $h+px;
  top: 50%;
  margin-top: -($h/2)+px;
}

@mixin center-horizontal($w) {
  position: absolute;
  width: $w+px;
  left: 50%;
  margin-left: -($w/2)+px;
}

//------------------------------------------------------------------------------
// center block transform
%center-block-transform {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

%center-block-transform-horizontal {
  position: absolute;
  margin: auto;
  left: 50%;
  @include transform(translate(-50%, 0))
}

%center-block-transform-vertical {
  position: absolute;
  margin: auto;
  top: 50%;
  @include transform(translate(0, -50%))
}

//------------------------------------------------------------------------------
// CSS3 Animation
%animate {
  @include transition-property(all);
  @include transition-timing-function(ease-in);
  @include transition-duration(.1s);
}

//------------------------------------------------------------------------------
// Abstract classes
%border-bottom {
  border-bottom: 1px solid $grayLight;
}

%no-border {
  border: 0 none;
}

%no-padding {
  padding: 0;
}

%no-margin {
  margin: 0;
}

%centered {
  text-align: center;
}

//------------------------------------------------------------------------------
// before/after
%before-after {
  content: "";
  display: block;
}

//------------------------------------------------------------------------------
// main width
@mixin main_max_width($top, $bottom) {
  max-width: $main_width;
  margin: $top auto $bottom;
}

//------------------------------------------------------------------------------
// CLear Fix
%clearfix {
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
}

//------------------------------------------------------------------------------
// pager for (.pane-job-job-listing-by-table, .pane-job-job-listing-by-list)
@mixin pager-table() {
  .pager {
    margin-top: 40px;
    overflow: inherit;
    position: relative;
    padding: 0 70px;

    .pager-previous,
    .pager-next {
      margin-top: -15px;
      position: absolute;
      top: 50%;
    }

    .pager-next {
      right: 0;
    }

    .pager-previous {
      left: 0;
    }
  }

  .ajax-progress {
    left: 50%;
    margin-left: -15px;
    position: absolute;
    top: -30px;
  }
}

//------------------------------------------------------------------------------
// Placeholder
@mixin placeholder($color) {
  &.placeholder {
    color: $color;
  }
  &:-moz-placeholder {
    color: $color;
  }
  &::-webkit-input-placeholder {
    color: $color;
  }
}

//------------------------------------------------------------------------------
// Responsive video
%respondvideo {
  position: relative;
  padding-bottom: 56.25%; /* 16/9 ratio */
  height: 0;
  overflow: hidden;
  display: block;

  iframe,
  object,
  embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

//------------------------------------------------------------------------------

// Responsive

//------------------------------------------------------------------------------

/*
// Screen---- max-width(980px)
@include at-breakpoint($tablet) {

}

// Tableet land ----max-width(871px)
@include at-breakpoint($tablet-land) {

}

// Tableet port ----max-width(767px)
@include at-breakpoint($tablet-port) {

}

// Phone port -----max-width(480px)
@include at-breakpoint($phone-land) {

}

// Phone port -----max-width(320px)
@include at-breakpoint($phone-port) {

}
*/
