{{ attach_library('favrskov/maintenance-page') }}

<div class="maintenance">
  <div class="container">
    <h1 class="maintenance__title">{{ title }}</h1>
    <div class="maintenance__content">{{ text }}</div>
  </div>
</div>
