/**
 * Type: Molecules.
 * Video.
 */

.video {
  position: relative;
  box-shadow: 0 27px 50px 0 rgba(35, 35, 35, .15);
  color: black;
  font-family: var(--heading-font-family);
  display: flex;
  width: 100%;
  flex-grow: 1;
  height: auto;
  max-height: 700px;

  @media (--viewport-md-min) {
    max-height: initial;
  }

  &--inverted {
    color: white;
  }

  &::before {
    content: '';
    display: block;
    float: left;
    padding-top: 56.25%;
    z-index: -1;
  }

  picture,
  img {
    width: inherit;
    height: inherit;
    max-height: inherit;
    display: block;
  }

  img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  iframe,
  video {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  &__iframe-wrapper {
    &:not(.active) {
      display: none;
    }

    .contextual-region {
      position: initial;
    }
  }

  &__play-icon {
    width: 125px;
    height: 125px;
    border: solid 3px currentColor;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(.7);
    display: inline-flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
    cursor: pointer;
    transition: opacity .3s;

    @media (--viewport-sm-min) {
      transform: translate(-50%, -50%) scale(1);
    }

    .icon--play {
      width: 45px;
      height: 50px;
      fill: currentColor;
      transform: translateX(5px);
      pointer-events: none;
    }
  }

  &__content {
    display: none;

    @media (--viewport-sm-min) {
      display: block;
      position: absolute;
      width: 90%;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      z-index: 2;
      margin-bottom: 60px;
      transition: opacity .3s;
    }
  }

  &__title {
    font-size: var(--base-font-size-xxxlarge);
    font-weight: 900;
    line-height: 1.3;
    text-align: center;
  }

  &__subtitle {
    font-size: var(--base-font-size-large);
    line-height: 1.3;
    text-align: center;
    margin-top: 20px;
  }

  &--hide-content {
    .video__content,
    .video__play-icon {
      opacity: 0;
      pointer-events: none;
    }

    picture,
    img {
      display: none;
    }
  }
}
