<div class="container">
  <br>
  <h2>Input types</h2>
  <br>
  {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
  {% render '@select' %}
  <br>
  {% render '@checkbox' %}
  <br>
  <br>
  {% include '@radio' with {'id': '1', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
  {% include '@radio' with {'id': '2', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
  <br>
  <br>
  {% render '@input' %}
  <br>
  <br>
  {% render '@textarea' %}
  <br>
  {% include '@button' with {
    'attributes': create_attribute().setAttribute('disabled', 'true'),
    'text': 'This is a button',
  } %}
</div>
<br>
<section class="section theme theme-blue">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId1', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '3', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '4', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
<section class="section theme theme-gray-1">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId2', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '5', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '6', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
<section class="section theme theme-gray-2">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId3', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '7', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '8', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
<section class="section theme theme-gray-3">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId4', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '9', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '10', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
<section class="section theme theme-green">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId5', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '11', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '12', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
<section class="section theme theme-red">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId6', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '13', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '14', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
<section class="section theme theme-seashell">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId7', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '15', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '16', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
<section class="section theme theme-yellow">
  <div class="container">
    <br>
    <h2>Input types</h2>
    <br>
    {% include '@label' with {'id': 'selectId', 'text': 'Select'} %}
    {% render '@select' %}
    <br>
    {% include '@checkbox' with {'name': 'checkbox', 'id': 'checkboxId8', 'label': 'This is a checkbox'} %}
    <br>
    <br>
    {% include '@radio' with {'id': '17', 'value': 'val1', 'name': 'radio', 'label': 'Radio 1'} %}
    {% include '@radio' with {'id': '18', 'value': 'val2', 'name': 'radio', 'label': 'Radio 2'} %}
    <br>
    <br>
    {% render '@input' %}
    <br>
    <br>
    {% render '@textarea' %}
    <br>
    {% render '@button' %}
  </div>
</section>
