//------------------------------------------------------------------------------
// Cookie message
.sliding-popup-top {

  .popup-content {
    @include container();
    padding: 8px 3% 18px;
    text-align: center;
    line-height: 1.4;
  }

  h2 {
    @include font-size(16);
    margin-bottom: 7px;
  }

  p {
    @include font-size(13);
    margin-bottom: 16px;
  }

  button {
    @include background(linear-gradient(center top , #EDEDED 5%, #DFDFDF 100%, #EDEDED));
    @include font-size(11);
    @include border-radius(4px);
    @include inline-block();
    border: 0 none;
    color: $slatgrayDark;
    cursor: pointer;
    margin-right: 10px;
    padding: 8px 4px;

    & + button {
      margin-right: 0;
    }
  }
}
