/**
 * Type: Organisms.
 * Hearing page.
 */

.news-page {
  &__title h1 {
    margin-bottom: 25px;
  }

  &__publishing-date {
    color: var(--color-gray-darker);
    font-size: var(--base-font-size-medium);
    font-weight: var(--base-font-weight);
    margin-bottom: 40px;
  }

  &__back-link {
    display: inline-block;
    padding-top: 25px;
    color: var(--color-primary);

    svg {
      max-height: 12px;
      max-width: 15px;
      fill: var(--color-primary);
    }

    a {
      font-size: var(--base-font-size-medium);
      font-weight: var(--header-font-weight);
      text-decoration: none;
      color: var(--color-primary);
    }

    &.js-hidden {
      display: none;
    }
  }

  &__cta {
    padding-top: 30px;
  }

  & label {
    font-weight: var(--header-font-weight);
  }

  &__type {
    padding: 20px 30px;
    background: var(--color-secondary-light);
    text-align: center;
    margin-bottom: 20px;
    font-size: var(--base-font-size-large);
    font-weight: var(--header-font-weight);
  }

  &__dates {
    padding: 20px 30px;
    background-color: var(--color-primary);
    color: var(--color-white);
    font-size: var(--base-font-size-medium);
  }

  &__info {
    border-bottom: 1px solid var(--color-gray-hover);
    font-size: var(--base-font-size-medium);

    &--item {
      display: flex;
      flex-direction: row;

      & div,
      & label {
        display: inline-flex;
      }

      & label {
        min-width: 60px;
        padding-right: 10px;
      }
    }
  }

  &__info,
  &__extra {
    padding: 20px 30px;
    background-color: var(--color-gray);
  }
}
