/**
 * Type: Organisms.
 * Appetiser.
 */

.appetiser {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  picture,
  img {
    height: inherit;
    display: block;
  }

  img {
    object-fit: cover;
    width: 100%;
    max-height: inherit;
  }

  &:not(.appetiser--small) {
    @media (--viewport-md-min) {
      min-height: 570px;
    }
  }

  &__content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (--viewport-md-min) {
      width: 50%;
      height: 100%;
      flex-grow: 0;
      flex-shrink: 1;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: var(--base-font-size-xxlarge);
    font-weight: 700;
    line-height: 1.3;
  }

  &__description {
    font-size: var(--base-font-size-large);
    line-height: 1.3;
    font-family: var(--header-font-family);

    @media (--viewport-ms-max) {
      font-size: var(--base-font-size-medium);
    }
  }

  &__image {
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      padding-top: 56.25%;
      float: left;
    }

    div {
      height: 100%;
    }

    @media (--viewport-md-min) {
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      max-height: 570px;

      &::before {
        display: none;
      }
    }
  }

  &--small {
    flex-direction: row;
    background: var(--color-white);

    .appetiser__image {
      width: 100%;
      height: auto;
      position: relative;
      order: -1;
      margin-bottom: 40px;

      @media (--viewport-md-max) {
        margin-bottom: 25px;
      }

      &::before {
        content: '';
        padding-top: 56.25%;
        float: left;
      }
    }

    .appetiser__title {
      font-size: var(--base-font-size-xlarge);
      margin-bottom: 15px;
      text-align: left;
    }

    .appetiser__content-wrapper {
      max-height: 300px;
      justify-content: normal;
      overflow: hidden;
      position: relative;
      height: 100%;
      align-items: flex-start;

      &.expanded {
        max-height: 5000px;
        height: auto;
      }

      &::after {
        display: none;
        content: "";
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: 100px;
        background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 30%, rgba(255, 255, 255, .8) 70%, rgba(255, 255, 255, 0) 100%);
      }
    }

    .appetiser__content {
      justify-content: normal;
      width: 100%;
      padding: 0 40px 70px;
      height: auto;

      @media (--viewport-md-max) {
        padding: 0 25px 70px;
      }
    }

    .appetiser__description {
      font-size: var(--base-font-size-medium);

      & b,
      & strong {
        color: var(--color-cta);
      }

      a {
        color: var(--color-primary);
      }
    }

    .appetiser__read-more {
      display: none;
      position: absolute;
      bottom: 25px;
      right: 35px;
      color: var(--color-cta);
      font-weight: var(--header-font-weight);
      text-decoration: none;
      z-index: 1;
      padding-left: 30px;
    }

    .appetiser__arrow {
      position: absolute;
      top: 0;
      left: 0;
      width: 24px;
      height: 24px;
      transform-origin: center;
    }

    .appetiser__arrow span {
      position: absolute;
      top: 3px;
      left: 6px;
      transform: rotate(45deg);
      width: 11px;
      height: 11px;
      border-right: 2px solid var(--color-cta);
      border-bottom: 2px solid var(--color-cta);
    }
  }

  &--small.show-more {
    .appetiser__content-wrapper::after {
      display: block;
      opacity: 1;
    }

    .appetiser__label--expanded {
      display: none;
    }

    .appetiser__label--collapsed {
      display: block;
    }

    .appetiser__content-wrapper.expanded {
      &::after {
        opacity: 0;
      }

      .appetiser__label--expanded {
        display: block;
      }

      .appetiser__label--collapsed {
        display: none;
      }

      .appetiser__arrow {
        transform: rotate(180deg);
      }
    }

    .appetiser__read-more {
      display: block;
    }
  }

  &--image-left {
    .appetiser__image {
      right: auto;
      left: 0;
      order: -1;
    }

    .appetiser__content {
      @media (--viewport-md-min) {
        margin-left: 50%;
        padding-left: 100px;
      }
    }
  }

  &--image-right {
    .appetiser__content {
      @media (--viewport-md-min) {
        margin-right: 50%;
        padding-right: 100px;
      }
    }
  }

  &--content-center {
    .appetiser__content {
      align-items: center;
      text-align: center;
    }
  }

  &--content-right {
    .appetiser__content {
      align-items: flex-end;
      text-align: right;
    }
  }
}
