/**
 * Type: Organisms.
 * Appetiser.
 */

.appetiser {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  width: 100%;

  picture,
  img {
    height: inherit;
    display: block;
  }

  img {
    object-fit: cover;
    width: 100%;
    max-height: inherit;
  }

  &:not(.appetiser--small) {
    @media (--viewport-md-min) {
      min-height: 570px;
    }
  }

  &__content-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }

  &__content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;

    @media (--viewport-md-min) {
      width: 50%;
      height: 100%;
      flex-grow: 0;
      flex-shrink: 1;
      padding-top: 0;
      padding-bottom: 0;
    }
  }

  &__title {
    font-size: var(--base-font-size-xxxlarge);
    font-weight: 900;
    line-height: 1.3;
  }

  &__description {
    font-size: var(--base-font-size-large);
    line-height: 1.3;
    font-family: var(--heading-font-family);
  }

  &__image {
    width: 100%;
    height: 100%;

    &::before {
      content: '';
      padding-top: 56.25%;
      float: left;
    }

    @media (--viewport-md-min) {
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
      max-height: 570px;

      &::before {
        display: none;
      }
    }
  }

  &--small {
    flex-direction: column;

    .appetiser__image {
      width: 100%;
      height: auto;
      position: relative;
      order: -1;
      margin-bottom: 25px;

      &::before {
        content: '';
        padding-top: 56.25%;
        float: left;
      }
    }

    .appetiser__content {
      width: 100%;
      padding: 0;
    }
  }

  &--image-left {
    .appetiser__image {
      right: auto;
      left: 0;
      order: -1;
    }

    .appetiser__content {
      @media (--viewport-md-min) {
        margin-left: 50%;
        padding-left: 100px;
      }
    }
  }

  &--image-right {
    .appetiser__content {
      @media (--viewport-md-min) {
        margin-right: 50%;
        padding-right: 100px;
      }
    }
  }

  &--content-center {
    .appetiser__content {
      align-items: center;
      text-align: center;
    }
  }

  &--content-right {
    .appetiser__content {
      align-items: flex-end;
      text-align: right;
    }
  }
}
