/**
 * Type: Molecules.
 * Logo.
 */

.logo {
  z-index: 3;

  @media (--viewport-lg-min) {
    margin-left: var(--container-spacing);
  }

  &__image {
    display: block;
    margin: 0;
    height: 45px;

    @media (--viewport-sm-min) {
      height: 60px;
    }

    @media (--viewport-md-min) {
      height: 75px;
    }
  }
}
