/**
 * Type: Molecules.
 * Logo.
 */

.logo {
  z-index: 3;

  @media (--viewport-md-min) {
    margin-left: var(--container-spacing);
  }

  &__image {
    display: block;
    margin: 0;
    height: 75px;
  }
}
