//------------------------------------------------------------------------------
// Footer
.footer {
  display: block;
  min-height: 600px;
  background: url('../images/favrskov-fon-footer.png') center 100% $grey no-repeat;
  padding-bottom: 300px;
  margin-top: 23px;
  // For ie8
  .lt-ie8 & {
    min-width: 981px;
  }

}

.footer-wrapper {
  background: none !important;
  @include main_max_width(0, 0);
  padding: 55px 10px 0;

  // For ie8
  .lt-ie8 & {
    width: 981px;
    max-width: none;
  }

  @include at-breakpoint(12 $width-1040) {
    max-width: 90%;
  }
}

.footer-block {
  @include span-columns(3, 12);
  color: $dark-green;

  &:last-child {
    margin-right: 0;
  }

  // For ie8
  .lt-ie8 & {
    margin-right: 1%;
  }

  .first-span {
    display: inline-block;
    width: 30%;
  }

  &.logo {
    a {
      width: 100%;
      height: 69px;
      display: block;
      &:focus {
        border-top: 2px solid $grey;
      }
    }
  }
  h2, h1 {
    color: #003F3D;
    font-size: 22px;
    font-family: $sans-medium;
    font-weight: bold;
    margin-bottom: 35px;
  }

  a, p, span {
    color: $dark-green;
    font-family: $sans-medium;
    line-height: 25px;
    font-weight: bold;
    font-size: 15px;
  }
  p {
    margin-bottom: 28px;
  }
  .small-height {
    margin-bottom: 15px;
  }

  a {
    line-height: 26px;

    &:hover, &:focus {
      text-decoration: underline;
      color: $link-red;
    }
  }
  &.social {
    a {
      text-decoration: underline;
    }
  }
  .contacts-data {
    margin-top: 40px;
  }

  .social-links {
    padding-top: 20px;

    a {
      display: inline-block;
      background-color: $grayMediumLight;
      border-radius: 19px;
      line-height: 30px;
      width: 38px;
      height: 38px;
      text-align: center;
      padding-top: 5px;
      text-decoration: none;
      margin-right: 7px;

      &:hover {
        background-color: $dark-green;
      }

      span {
        color: $grey;
        font-size: 20px;
      }
    }
  }


  @include at-breakpoint(12 $width-768) {
    @include span-columns(4, 12);
    margin-bottom: gutter(12);
    &:last-child {
      margin-right: gutter(12);
    }
    &:nth-child(3n) {
      margin-right: 0;
    }
  }
  @include at-breakpoint(12 $width-600) {
    @include span-columns(6, 12);
    &:nth-child(3n) {
      margin-right: gutter(12);
    }
    &:nth-child(2n) {
      margin-right: 0;
    }
  }
  @include at-breakpoint(12 $width-480) {
    width: 100%;
    float: none;
    display: block;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
    &:nth-child(3n) {
      margin-right: gutter(12);
    }
  }
}

.domain-oplev-favrskov-dk {
  .footer {
    .nav.footer-block {
      float: right;
    }

    .contacts,
    .social-links {
      display: inline-block;
      @include at-breakpoint(12 $width-1040) {
        display: block;
      }
    }

    .social-links {
      margin: 0 0 20px 20px;
      vertical-align: bottom;
      p {
        margin: 0;
      }

      @include at-breakpoint(12 $width-1040) {
        margin: 0;
      }
    }
  }
}
