//------------------------------------------------------------------------------
// Header global

.header {
  @extend %clearfix;
  border-bottom: 5px solid $header_bottom_line;
  max-width: 100%;
  background: none !important;
  position: relative;
  // For ie8
  .lt-ie8 & {
    min-width: 981px;
  }

  &:before {
    @extend %before-after;
    width: 100%;
    height: 15px;
    background: $dark-green;
  }

  .header-content {
    @include main_max_width(0, 0);
    min-height: 110px;
    @extend %clearfix;
    position: relative;

    // For ie8
    .lt-ie8 & {
      width: 981px;
      max-width: none;
    }

    @include at-breakpoint(12 $width-1040) {
      max-width: 90%;
    }

    @include at-breakpoint(12 $width-550) {
      max-width: 100%;
      min-height: 50px;

      .btn-navbar {
        background-color: #8a8a8a;
        cursor: pointer;
        display: block;
        width: 56px;
        position: fixed;
        left: 0;
        top: 0;
        z-index: 4;
        padding: 10px 10px;

        span {
          display: block;
          background: #fff;
          height: 5px;
          margin: 4px 0;
        }
      }
    }
  }

  // Logo
  .logo {
    width: 194px;
    height: 72px;
    overflow: hidden;
    margin-top: 17px;
    float: left;
    margin-left: 23px;
    @include at-breakpoint(12 $width-1040) {
      margin-left: -20px;
    }

    @include at-breakpoint(12 $width-980) {
      float: none;
      margin: 30px auto 20px;
    }

    @include at-breakpoint(12 $width-550) {
      margin: 50px auto 15px;
    }
    a:focus {
      border-left: 2px solid $white;
    }
  }

  .nav {
    float: right;
    margin: 5px 8px 0 0;

    @include at-breakpoint(12 $width-980) {
      float: none;
      text-align: center;
      margin: 0;
    }

    &.animated {
      display: block !important;
    }

    a {
      font-family: $sans-book;
      color: #333;
      font-size: 20px;
      padding: 13px 20px 0;
      text-decoration: none;
      text-transform: uppercase;
      display: block;
      height: 60px;
      background: $light-blue;
      font-weight: 600;
    }

    li {
      float: left;
      height: 60px;
      margin-right: 2px;

      @include at-breakpoint(12 $width-980) {
        float: none;
        @include inline-block(top);
        margin-right: -2px;
      }

      &:hover,
      &.active,
      &.active-trail {
        a {
          background: $grey;
        }
      }
      a:focus {
        background: $grey;
        text-decoration: underline;
      }
    }

    @include at-breakpoint(12 $width-550) {
      top: 50px;
      left: 0;
      position: fixed;
      width: 80%;
      margin: 0;
      text-align: left;
      z-index: 3;
      display: none;

      li {
        display: block;
        height: auto;
        & a.active {
          background: $dark-grey;
        }
      }

      a {
        font-size: 15px;
        color: $white;
        background: #272727;
        padding: 15px 10px;
        height: auto;
        border-bottom: 1px solid $dark-grey;
        &:focus,
        &:hover {
          background: $dark-grey;
        }
      }
    }
  }

  .search-contact {
    width: 230px;
    float: right;
    margin: 7px 10px 5px 0;

    @include at-breakpoint(12 $width-980) {
      float: none;
      margin: 0 auto 20px;
      text-align: center;
    }

    @include at-breakpoint(12 $width-550) {
      width: 100%;
      height: 51px;
      left: 0;
      top: 0;
      margin: 0;
      background: #000;
      position: fixed;
      z-index: 3;
    }
  }

  .search {
    position: relative;
    height: 34px;

    input[type="text"] {
      width: 100%;
      height: 34px;
      background-image: none;
      background-color: $light-blue;
      @include border-radius(5px);
      padding: 0 40px 0 10px;
      color: $grayMedium;
      &::placeholder {
        color: $grayMedium;
      }

      // For ie8
      .lt-ie8 & {
        padding-top: 10px;
      }
      &:focus {
        outline: $dark-green auto 1px;
      }

      @include at-breakpoint(12 $width-550) {
        background: #fff;
        @include border-radius(0px);
      }
    }

    input[type="submit"] {
      cursor: pointer;
      position: absolute;
      width: 41px;
      height: 100%;
      top: 0;
      right: 0;
      text-indent: -9999px;
      z-index: 1;
      background: url(../images/search_icon.png) no-repeat center center;
      &:focus {
        outline: $dark-green auto 1px;
      }

    }
    @include at-breakpoint(12 $width-550) {
      @include center-vertical(34);
      right: 4%;
      width: 72%;
    }
  }

  .secondary-nav {
    .menu {
      float: right;
      padding-right: 40px;

      @include at-breakpoint(12 $width-980) {
        text-align: center;
        float: none;
        padding: 0;
      }

      li {
        display: inline-block;
        vertical-align: middle;
        margin-left: 17px;

        @include at-breakpoint(12 $width-980) {
          float: none;
          @include inline-block(top);
        }
      }

      a {
        @include links(#333, $red);
        font-family: $sans-book;
        font-size: 11pt;
        text-decoration: none;
        text-transform: uppercase;
        padding: 18px 0;
        display: block;
        font-weight: 600;
      }
    }
  }

  // For admin
  .drupal-system {
    width: 100%;
    min-height: 30px;
    background: $grey;
    border-top: 5px solid $header_bottom_line;

    .status, .error {
      @include main_max_width(0, 0);
    }

    .tabs {
      @include main_max_width(4px, 0);

      li {
        display: inline-block;

        a {
          font: 15px Arial;
          color: $white;
          display: block;
          padding: 5px 10px;
          background: #555;
        }
      }
    }
  }

  .header-menu-wrapper {
    float: right;
    position: relative;
    width: calc(100% - 220px);
    min-height: 110px;

    @include at-breakpoint(12 $width-980) {
      float: none;
      width: 100%;
    }

    @include at-breakpoint(12 $width-550) {
      min-height: 0;
    }
  }
}
