{#
/**
 * @file
 * Theme override to display a single Drupal page while offline.
 *
 * All available variables are mirrored in page.html.twig.
 * Some may be blank but they are provided for consistency.
 *
 * @see template_preprocess_maintenance_page()
 */
#}
{% extends "page.html.twig" %}

{% block page_top %}
  {% embed '@organisms/header/header.twig' %}
    {% block site_branding %}
      {{ site_branding }}
    {% endblock %}
    {% block navigation %}{% endblock %}
  {% endembed %}
{% endblock %}

{% block page_main %}
  <main role="main" vocab="http://schema.org" typeof="WebPageElement" property="mainContentOfPage">
    <a id="main-content" tabindex="-1"></a>{# link is in html.html.twig #}
    <div class="layout-content">
      {% include '@organisms/maintenance-page/maintenance-page.twig' with {
        'title': page_title,
        'text': page.content
      } %}
    </div>
  </main>
{% endblock %}
