{% if links %}
  <ul class="link-list">
    {% for link in links %}
      <li class="link-list__item">
        <a{{ (not link.attributes ? create_attribute() : link.attributes).setAttribute('href', link.url).addClass('link-list__link').setAttribute('target', (not target ? '_blank' : target)) }}>
          {% if link.icon %}
            {% include '@favrskov/components/atoms/a-svg-icon.html.twig' with {
              'svgIconName': link.icon
            } %}
          {% endif %}
          {{ link.title }}
        </a>
      </li>
    {% endfor %}
  </ul>
{% endif %}
