@font-face {
  font-family: 'FoundrySterling-Book';
  src: url(' ../font-icns/foundrysterling-book.eot');
  src: url(' ../font-icns/foundrysterling-book.eot?#iefix') format('embedded-opentype'),
  url(' ../font-icns/foundrysterling-book.woff') format('woff'),
  url(' ../font-icns/foundrysterling-book.ttf') format('truetype');
}


@font-face {
  font-family: 'FoundrySterling-Medium';
  src: url(' ../font-icns/foundrysterling-medium.eot');
  src: url(' ../font-icns/foundrysterling-medium.eot?#iefix') format('embedded-opentype'),
  url(' ../font-icns/foundrysterling-medium.woff') format('woff'),
  url(' ../font-icns/foundrysterling-medium.ttf') format('truetype');
}

