@font-face {
  font-family: 'FoundrySterling-Book';
  src: url(' ../font/fs_book/foundrysterling-book.eot');
  src: url(' ../font/fs_book/foundrysterling-book.eot?#iefix') format('embedded-opentype'),
  url(' ../font/fs_book/foundrysterling-book.woff') format('woff'),
  url(' ../font/fs_book/foundrysterling-book.ttf') format('truetype');
}


@font-face {
  font-family: 'FoundrySterling-Medium';
  src: url(' ../font/fs_medium/foundrysterling-medium.eot');
  src: url(' ../font/fs_medium/foundrysterling-medium.eot?#iefix') format('embedded-opentype'),
  url(' ../font/fs_medium/foundrysterling-medium.woff') format('woff'),
  url(' ../font/fs_medium/foundrysterling-medium.ttf') format('truetype');
}



@font-face {
  font-family: 'Arial-Regular';
  src: url(' ../font/Arial_Regular.eot');
  src: url(' ../font/Arial_Regular.eot?#iefix') format('embedded-opentype'),
  url(' ../font/Arial_Regular.woff') format('woff'),
  url(' ../font/Arial_Regular.ttf') format('truetype');
}

