//------------------------------------------------------------------------------
//Page
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  &.lt-ie8 {
    overflow-x: auto;
  }
}

html, body {
  -webkit-font-smoothing: antialiased;
  @include transition-property(all);
  @include transition-timing-function(ease-in);
  @include transition-duration(.2s);
}

body {
  @include font-size();
  font-family: $sans;
  word-wrap: break-word;
 //   background: url(../images/erhverv_page.png) no-repeat 344px top;
 //   opacity: 0.7;

  .resizable-textarea {
    .grippie {
      display: none;
    }
  }
}

//------------------------------------------------------------------------------
// Ajax throbber
.ajax-progress {

  margin-top: 50px;
}

.ajax-progress .throbber {
  width: 24px;
  height: 24px;
  text-indent: -999em;
  display: block;
  background: url(../images/ajax-loader.gif) no-repeat center;

  & + .message {
    display: none;
  }
}

.contextual-links-wrapper .contextual-links-trigger {
  text-indent: -999em;
}

//------------------------------------------------------------------------------
// Responsive dimensions
$tablet: 12 980px;
$tablet-land: 12 890px;
$tablet-port: 12 768px;
$phone-land: 12 480px;
$phone-port: 12 320px;

.group {
  zoom: 1; /* For IE 6/7 (trigger hasLayout) */

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }
}

.preloader,
.preloader-overlay,
.custom-throbber {
  display: none;
}

/*
 Hide pane titles
*/
.hide-title {
  h2.pane-title {
    display: none;
  }
}

//  Global links styles
a {
  outline: medium none;
  //@include transition-property(all);
  // @include transition-timing-function(ease-in);
  // @include transition-duration(.1s);
  // @include links($red, $grey);

  &:focus {
    outline: medium none;
  }
  &:hover {
    text-decoration: none;
  }
}

// Status messages styles
/*.drupal-system {
   @include span-columns(12,12);
}*/

input[type="text"],
input[type="password"],
input[type="email"],
input[type="url"],
input[type="search"] {
  border: 0 none;
  color: $slatgrayLight;
  margin: 0;
  height: 17px;
  max-width: 100%;
  padding: 9px 0;
  @include font-size(14);
  @include border-radius(5px);
}

input[type="text"]::-ms-clear {
  display: none;
}

.form-text,
.form-textarea {
  border: 1px solid transparent;
  @extend %no-border;

  &:hover,
  &:focus {
    outline: none;
  }
}

img {
  max-width: 100%;
  height: auto;
}

iframe {
  width: 100%;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 1000px $white inset !important;
}

/* Text */
.tr {
  text-align: right;
}

.tc {
  @extend %centered;
}

hr {
  border-top: 0 none;
  @extend %border-bottom;
  margin-left: auto;
  margin-right: auto;
  &.half {
    width: 50%;
  }
}

/*
  IE 9.0 and less versions
*/
.ajax-message {
  text-align: center;
  color: $pink;
  display: none;
}

/*
  Normlal browsers
*/
.ajax-progress-throbber {
  margin: 0 auto 16px;
  display: block;
  width: 34px;
}

//------------------------------------------------------------------------------
// Empty views
.view-empty {
  background-color: #8ebe8a;
  color: $white;
  padding: 20px;
  margin-bottom: 20px;
  font-family: $sans;
  @include font-size(14);
}

//------------------------------------------------------------------------------
// Warning, Tabs, Message pane
.messages {

  &.status,
  &.warning,
  &.error,
  &.alert-block {
    color: $white;
    display: block;
    padding: 15px;
    @include font-size(15);
    @include box-sizing(border-box);

    .krumo-root {
      color: $black;
    }

    a {
      color: $black;
    }

    li {
      margin-bottom: 10px;
    }
  }

  &.error {
    background-color: #be8f8a;
  }
  &.warning {
    background-color: #d8d29d;
  }
  &.status {
    background-color: #8ebe8a;
  }
}

//------------------------------------------------------------------------------
// Helper classes

/*
 * Reset borders and paddings/margins
*/
.centered {
  @extend %centered;
}

.no-border {
  @extend %no-border;
}

.no-padding {
  @extend %no-padding;
}

.no-margin {
  @extend %no-margin;
}

/*
 * Image replacement
 */

.ir {
  background-color: transparent;
  border: 0;
  overflow: hidden;
  /* IE 6/7 fallback
  *text-indent: -9999px;*/
}

.ir:before {
  content: "";
  display: block;
  width: 0;
  height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
  visibility: hidden;
  display: none !important;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */
.element-invisible,
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
  visibility: hidden;
}

h1 {
  font: 50px $sans-medium;
  color: $slategrey;
}

h2 {
  font: 30px $sans;
  color: $slategrey;
}

h3 {
  font: 28px Arial;
  font-weight: bold;
  color: $slategrey;
}

h4 {
  font: 20px Arial;
  font-weight: bold;
  color: $slategrey;
}

#admin-menu {
  .dropdown {
    li {
      li {
        opacity: 1;
      }
    }
  }
}
