
//------------------------------------------------------------------------------
// Grid settings

$total-columns  : 12;              // a 16-column grid
$column-width   : 66px;            // each column is 4em wide
$gutter-width   : 16px;            // 1em gutters between columns
$grid-padding   : 0;  // grid-padding equal to gutters



//------------------------------------------------------------------------------
// Global layout

//------------------------------------------------------------------------------
// Header
.container,
.field-name-field-top-image {
  @include container;
  position: relative;
  min-width: 280px;
  max-width: 980px;
}

.popular-image {
  padding-top: 35px;
  background: $grey;
  position: relative;
}

.logo {
//  @include span-columns(3, 12);
}

// Header IE
.lt-ie9 {
  .content,
  .header-content {
    min-width: 990px;
  }
}
