//------------------------------------------------------------------------------
// Main sprite

@mixin sprite($sprite, $x, $y, $bg-color:transparent) {
  background:$bg-color url($sprite) no-repeat $x $y;
}


//------------------------------------------------------------------------------
// Font resizing

@mixin font-size($sizeValue: 13){
  font-size: ($sizeValue) + px;
  font-size: ($sizeValue / 16) + rem;
}


//------------------------------------------------------------------------------
// Links

@mixin links( $color: #98dff8, $hover: $white, $text-decoration: none) {
  color: $color;
  text-decoration: $text-decoration;

  &:hover {
    color: $hover;
  }
}


//------------------------------------------------------------------------------
// Input fields

@mixin inputs( $width: auto, $height: auto, $border: none, $color: black) {
  height: $height;
  width: $width;
  border: $border;
  background-color: #fff;
  padding: 0 5px;
  color: $color;
}


//------------------------------------------------------------------------------
// Submit Button

@mixin submit( $width: auto, $height: auto, $border: none, $color: #fff ) {
  width: $width;
  height: $height;
  line-height: $height;
  border: $border;
  color: $color;
  padding: 5px;
}


//------------------------------------------------------------------------------
// CSS3 Animation
%animate {
  @include transition-property(all);
  @include transition-timing-function(ease-in);
  @include transition-duration(.1s);
}

//------------------------------------------------------------------------------
// Abstract classes
%border-bottom {
  border-bottom: 1px solid $grayLight;
}

%no-border {
  border: 0 none;
}

%no-padding {
  padding: 0;
}
%no-margin {
  margin: 0;
}

%centered {
  text-align: center;
}

//------------------------------------------------------------------------------
// Placeholder
@mixin placeholder($color) {
  &.placeholder {
    color: $color;
    }
  &:-moz-placeholder {
    color: $color;
    }
  &::-webkit-input-placeholder {
    color: $color;
    }
}
