{{ attach_library('favrskov/burger') }}

<a href="#" class="burger" id="js-burger" aria-label="Menu">
  <div class="burger__lines">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="burger__label">{{ 'Menu'|t }}</div>
</a>
