/**
 * Type: Molecules.
 * Burger.
 */

.burger {
  font-size: var(--base-font-size-extra-small);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  flex-grow: 0;
  cursor: pointer;

  @media (--viewport-md-min) {
    margin-left: 20px;
  }

  &__lines {
    > span {
      display: block;
      width: 40px;
      height: 1px;
      margin-bottom: 10px;
      background-color: var(--header-selected-text-color);

      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }

  &__label {
    font-size: var(--base-font-size-extra-small);
    margin-left: 15px;
    font-weight: 300;

    @media (--viewport-md-min) {
      display: none;
    }
  }
}
