{{ attach_library('favrskov/burger') }}

<div class="burger" id="js-burger">
  <div class="burger__lines">
    <span></span>
    <span></span>
    <span></span>
  </div>
  <div class="burger__label">{{ 'Menu'|t }}</div>
</div>
