{% set classes = [
  'layout-block',
  view_mode ? 'layout-block--view-mode-' ~ view_mode|clean_class,
] %}

<div{{ attributes.addClass(classes) }}>
  <div id="parcel-map-body" class="map-container"></div>
</div>
