//-----------------------------------------------------------------------------
// Images
$sprite: "../images/sprite.png";

//-----------------------------------------------------------------------------
// Fonts

$font-sans:  Helvetica, Arial, sans-serif;
$font-serif: serif;

$sans: Helvetica, Arial, sans-serif;


//-----------------------------------------------------------------------------
// Coloures

$def-color: #333;

$white: #fff;
$black: #000;
$pink: #ec0045;

$cyan: #98dff8;
$slategrey: #586464;


$gray: #999;
$grayLighter: #fcfcfc;
$grayLight: #f2f2f2;
$grayMedium: #393939;
$grayMediumLight: #7d7d7d;

