/**
 * Type: Molecules.
 * Inline navigation item.
 */

.inline-navigation-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  flex-shrink: 0;
  flex-grow: 0;
  width: 100%;
  padding: 20px 5px;

  @media print {
    width: 50%;
  }

  &.inline-navigation-item-news {
    .inline-navigation-item__link {
      background-color: var(--color-white);
      flex-grow: 1;
      box-shadow: 0 4px 20px rgba(0, 0, 0, .1);

      @media (--viewport-lg-min) {
        box-shadow: 0 4px 44px rgba(0, 0, 0, .1);
      }
    }

    .inline-navigation-item__image {
      box-shadow: none;
      margin-bottom: 0;

      &::before {
        padding-top: 56.25%;
      }
    }
  }

  &.inline-navigation-item-campaign {
    &:nth-child(3n-2) {
      .inline-navigation-item__link {
        background-color: var(--color-white);
      }
    }

    &:nth-child(3n-1) {
      .inline-navigation-item__link {
        background-color: var(--color-secondary-light);
      }
    }

    &:nth-child(3n) {
      .inline-navigation-item__link {
        background-color: var(--color-light-mint);
      }
    }

    @media (--viewport-ms-max) {
      .inline-navigation-item__text {
        display: none;
      }
    }
  }

  .js-inline-navigation-slider & {
    @media (--viewport-md-max) {
      width: 40%;
      min-height: 100%;
      padding: 20px;

      .inline-navigation-item__link {
        flex: 1 1 auto;
      }
    }

    @media (--viewport-ms-max) {
      width: 80%;
    }

    @media print {
      width: 25%;
      position: relative !important;
      left: auto !important;
    }
  }

  picture,
  img {
    height: inherit;
    display: block;
  }

  img {
    object-fit: cover;
    width: 100%;
  }

  @media (--viewport-sm-min) {
    width: 100%;
    padding: 5px;

    &.inline-navigation-item-image {
      width: 50%;
      padding: 25px;
    }
  }

  @media print {
    width: 25%;
    padding: 20px;

    &.inline-navigation-item-image {
      width: calc(100% / 3);
      padding: 25px;
    }
  }

  @media (--viewport-lg-min) {
    width: calc(100% / 4);
    padding: 25px;

    .section--spacing-top-negative & {
      padding-top: 0;
    }

    .inline-navigation-link-list & {
      width: calc(100% / 3);
    }

    .layout--twocol-section--67-33 & {
      width: calc(100% / 3);
    }

    &.inline-navigation-item-campaign,
    &.inline-navigation-item-image {
      width: calc(100% / 3);
    }
  }

  @media (--viewport-xl-min) {
    &.inline-navigation-item-image {
      width: calc(100% / 4);
    }
  }

  @media (--viewport-ms-max) {
    &.inline-navigation-item-arrow,
    &.inline-navigation-item-icon {
      padding: 5px;
    }
  }

  &__icon {
    width: 100%;
    padding-top: 50px;
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;

    svg {
      height: 60px;
      max-width: 100%;
      width: auto;
      display: flex;
      align-self: center;

      &.icon--no-image {
        fill: var(--color-cta);
      }
    }

    @media (--viewport-md-max) {
      position: absolute;
      top: 50%;
      left: 40px;
      transform: translate(-50%, -100%);
      width: 50px;
      height: 35px;
    }

    @media (--viewport-md-max) {
      position: relative;
      top: auto;
      left: auto;
      transform: translate(0, 0);
      width: 100%;
      height: auto;
    }
  }

  &__arrow-wrapper {
    width: 100%;
    padding-top: 94px;
    display: flex;
    flex: 1;
    align-content: center;
    justify-content: center;

    @media (--viewport-md-max) {
      padding-top: 0;
    }

    @media print {
      padding-top: 94px;
    }
  }

  &__arrow {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translateX(-50%);
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: var(--color-cta);
    transition: all .3s ease;
    padding: 17px 0 0 17px;

    & span {
      display: block;
      width: 11px;
      height: 2px;
      border-radius: 2px;
      background-color: var(--color-white);
      transform: rotate(45deg);
      transition: all .3s ease;

      &:last-of-type {
        transform: rotate(-45deg);
        margin-top: 5px;
      }
    }

    @media (--viewport-md-max) {
      top: 50%;
      left: 42px;
      transform: translate(-50%, -50%);
    }

    @media print {
      top: 30%;
      left: 50%;
      transform: translateX(-50%);
    }

    .inline-navigation-item-campaign & {
      top: 0;
      left: 0;
      transform: translateX(0);
    }
  }

  &__link {
    color: currentColor;
    text-decoration: none;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-shrink: 0;
    width: 100%;
    flex-grow: 0;

    .inline-navigation-item-arrow &,
    .inline-navigation-item-icon & {
      background-color: var(--color-white);
      height: 100%;
      overflow: hidden;
      position: relative;
      text-align: center;
      box-shadow: 0 4px 24px rgba(0, 0, 0, .1);
      transition: all .3s ease;

      @media (--viewport-md-max) {
        height: auto;
        padding-bottom: 0;
        padding-left: 80px;
        text-align: left;
        box-shadow: 0 4px 10px rgba(0, 0, 0, .1);
      }

      @media print {
        height: 100%;
        padding-bottom: 0;
        padding-left: 0;
        text-align: center;
        box-shadow: 0 4px 24px rgba(0, 0, 0, .1);
      }
    }

    .inline-navigation-item-arrow & {
      &:hover {
        background-color: var(--color-cta);
        color: var(--color-white);

        .inline-navigation-item__arrow {
          background-color: var(--color-white);

          & span {
            background-color: var(--color-cta);
          }
        }
      }
    }

    .inline-navigation-item-icon & {
      & h3 {
        & span {
          transition: all .3s ease;
        }
      }

      &:hover {
        & h3 {
          & span {
            text-decoration: underline solid var(--color-cta);
          }
        }
      }
    }

    .inline-navigation-item-campaign & {
      height: 100%;
      padding: 60px 40px 100px;
      overflow: hidden;
      position: relative;
      box-shadow: 0 4px 24px rgba(0, 0, 0, .1);
      transition: all .3s ease;

      .inline-navigation-item__title {
        font-weight: bold;
        font-size: var(--base-font-size-large);

        @media (--viewport-md-min) {
          font-size: var(--base-font-size-xlarge);
        }

        @media (--viewport-lg-min) {
          font-size: var(--base-font-size-xxlarge);
        }
      }

      @media (--viewport-sm-max) {
        padding: 40px 30px 75px;
      }

      @media (--viewport-ms-max) {
        padding: 30px 20px 75px;
      }

      &:hover {
        box-shadow: 0 4px 24px rgba(0, 0, 0, .2);

        @media (--viewport-ms-max) {
          box-shadow: 0 4px 10px rgba(0, 0, 0, .2);
        }

        .inline-navigation-item__read-more {
          & label {
            visibility: visible;
            opacity: 1;
            max-width: 150px;
            padding-left: 10px;
          }
        }
      }
    }
  }

  &__image {
    width: 100%;
    box-shadow: 0 27px 50px 0 rgba(35, 35, 35, .15);
    margin-bottom: 20px;
    display: block;

    @media (--viewport-sm-max) {
      box-shadow: 0 4px 10px rgba(35, 35, 35, .15);
    }

    &--fallback {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        width: 20%;
        height: 20%;
        opacity: .5;
      }
    }

    &::before {
      content: '';
      display: block;
      float: left;
      padding-top: 100%;

      @media (--viewport-ms-max) {
        padding-top: 75%;
      }
    }
  }

  &__title {
    margin-bottom: 30px;
    font-size: var(--base-font-size-large);
    font-family: var(--base-font-family);
    font-weight: var(--base-font-weight);
    hyphens: auto;
    word-break: break-word;

    @media (--viewport-md-min) {
      font-size: var(--base-font-size-xlarge);
    }

    .inline-navigation-item-arrow &,
    .inline-navigation-item-icon & {
      margin-bottom: 0;
      width: 100%;
      padding: 30px 25px;
      min-height: 100px;
      display: flex;
      flex: 1;
      justify-content: center;
      align-items: center;

      @media (--viewport-md-max) {
        justify-content: left;
        border-left: 1px solid rgba(0, 0, 0, .1);
      }

      @media print {
        justify-content: center;
        border-left: none;
      }
    }
  }

  &__text {
    margin-bottom: 30px;
    font-size: var(--base-font-size);
    line-height: 1.2;
    hyphens: auto;
    word-break: break-word;

    @media (--viewport-sm-min) {
      font-size: var(--base-font-size-medium);
      line-height: 1.3;
    }

    @media (--viewport-md-min) {
      font-size: var(--base-font-size-large);
    }
  }

  &__content {
    padding: 30px;
    display: flex;
    width: 100%;
    flex-grow: 1;
    flex-direction: column;
  }

  &__date {
    margin-top: auto;
    font-size: var(--base-font-size);
    font-weight: 300;
    opacity: .6;

    @media (--viewport-md-min) {
      font-size: var(--base-font-size-medium);
    }
  }

  &__read-more {
    text-decoration: underline;

    .inline-navigation-item-campaign & {
      position: absolute;
      right: 30px;
      bottom: 30px;
      padding-left: 44px;
      overflow: hidden;
      line-height: 44px;
      height: 44px;
      text-decoration: none;

      & label {
        display: inline-block;
        visibility: hidden;
        opacity: 0;
        max-width: 0;
        font-size: var(--base-font-size-medium);
        font-family: var(--header-font-family);
        font-weight: var(--header-font-weight);
        color: var(--color-cta);
        transition: all .3s ease;
        pointer-events: none;
      }
    }
  }
}
