# Ignore configuration files that may contain sensitive information.
sites/*/settings*.php

# Ignore paths that contain user-generated content.
sites/*/files
sites/*/private

# Hidden files and folders
#.*
.DS_Store
.idea
.well-known/

# Hide env.settings.php
sites/*/env.settings.php
sites/default/files-private
!sites/*/settings.php
