/**
 * Type: Molecules.
 * Meta menu.
 */

.meta-menu {
  @media (--viewport-lg-min) {
    position: absolute;
    top: 0;
    right: 0;
    width: 75%;
    border-left: 1px solid var(--header-border-color);
    border-bottom: 1px solid var(--header-border-color);
    display: flex;
    justify-content: flex-end;
  }

  @media (--viewport-md-max) {
    background-color: var(--color-gray);
    order: 0;
  }

  &__inner {
    display: flex;
    align-items: center;
    height: var(--meta-menu-height-mobile);

    @media (--viewport-lg-min) {
      height: calc(var(--meta-menu-height) - 1px);
    }
  }
}

.meta-menu-list {
  list-style: none;
  padding: 2px 0 0;
  margin: 0;
  display: flex;
  align-items: center;

  @media (--viewport-md-max) {
    padding: 0;
    width: 100%;
    justify-content: center;
  }
}

.meta-menu-item {
  margin-right: 35px;

  @media (--viewport-md-max) {
    display: flex;
  }

  &:last-of-type {
    margin-right: 0;
  }

  a {
    text-decoration: none;
    color: var(--meta-menu-text-color);
    font-size: var(--base-font-size);
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    line-height: 1.3;

    @media (--viewport-xs-max) {
      font-size: var(--base-font-size-small);
    }

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }
}
