{{ attach_library('favrskov/search-overlay') }}

<div :class="{'search-overlay--open' : isOpen }" class="search-overlay" id="js-search-overlay">
  <div @click="closeSearchOverlay()" class="search-overlay__close">
    {% include '@particles/svg-icon/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'close'
    } %}
    <span class="search-overlay__close-label">{{ 'Close (Esc)'|t }}</span>
  </div>
  <div class="search-overlay__content">
    <div class="container">
      <form id="overlay-cludo-search-form" role="search">
        <div class="search-overlay__input-field">
          <label class="sr-only" for="js-search-overlay-input">{{ 'Search'|t }}</label>
          <input type="search" class="search-input input" id="js-search-overlay-input" aria-label="Search" aria-describedby="autocomplete_hint">
          <button type="submit" class="search-overlay__submit search-button" aria-label="Submit">
            {% block content %}
              {% include '@particles/svg-icon/svg-icon.twig' with {
                'attributes': '',
                'svgIconName': 'search'
              } %}
            {% endblock %}
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
