{{ attach_library('favrskov/search-overlay') }}

<div :class="{'search-overlay--open' : isOpen }" class="search-overlay" id="js-search-overlay">
  <div @click="closeSearchOverlay()" class="search-overlay__close">
    {% include '@particles/svg-icon/svg-icon.twig' with {
      'attributes': '',
      'svgIconName': 'close'
    } %}
    <span class="search-overlay__close-label">{{ 'Close (Esc)'|t }}</span>
  </div>
  <div class="search-overlay__content">
    <div class="container">
      <form id="overlay-cludo-search-form">
        <div class="search-overlay__input-field">
          <label class="sr-only" for="js-search-overlay-input">{{ 'Search'|t }}</label>
          {% include '@particles/forms/input/input.twig' with {
            'attributes': create_attribute().addClass('search-input'),
            'type': 'search',
            'id': 'js-search-overlay-input',
            'placeholder': 'Search'|t,
            'name': 'keys'
          } %}
          {% embed '@particles/button/button.twig' with {
            'attributes': create_attribute().addClass('search-overlay__submit').addClass('search-button'),
            'type': 'submit',
            'skip_button_class': true
          } %}
            {% block content %}
              {% include '@particles/svg-icon/svg-icon.twig' with {
                'attributes': '',
                'svgIconName': 'search'
              } %}
            {% endblock %}
          {% endembed %}
        </div>
      </form>
    </div>
  </div>
</div>
