/**
 * Type: Base.
 * Base styling.
 */

/* Box sizing */
* {
  box-sizing: border-box;

  &::before,
  &::after {
    box-sizing: border-box;
  }
}

/* Body */
body {
  background-color: var(--site-background-color);
  font-family: var(--base-font-family);
  font-weight: var(--base-font-weight);
  font-size: var(--base-font-size);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--theme-color);
  line-height: 1.5;
  overflow-x: hidden;
  position: relative;
  width: 100%;
  margin: 0;
  padding-top: var(--header-height-mobile);

  @media (--viewport-md-min) {
    padding-top: calc(var(--header-height) + var(--meta-menu-height));
  }

  &.no-scroll {
    overflow: hidden;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  margin-top: 0;
  font-weight: var(--heading-font-weight);
  margin-bottom: 10px;
}

h1 {
  font-size: var(--base-font-size-xxxlarge);
  line-height: 1.2;
}

h2 {
  font-size: var(--base-font-size-xxlarge);
  line-height: 1.2;
}

h3 {
  font-size: var(--base-font-size-xlarge);
  line-height: 1.2;
}

h4 {
  font-size: var(--base-font-size-xlarge);
  line-height: 1.2;
}

h5 {
  font-size: var(--base-font-size);
}

p {
  margin-top: 0;
}

.large-text {
  font-size: var(--base-font-size-xlarge);
}

/* Links */
a {
  color: var(--theme-link-color);
  text-decoration: underline;
  text-decoration-skip-ink: auto;
}

button {
  background: none;
  border: none;
  outline: none;
}

/* Horizontal ruler */
hr {
  border: none;
  border-bottom: 1px solid var(--theme-divider-background-color);
  margin: 30px 0;
}

/* Image handling */
figure {
  margin: 0;
  width: 100%;

  img {
    max-width: 100%;
    height: auto;
    display: block;
    margin: 0 auto;
    transition: opacity .2s;
  }

  figcaption {
    margin-top: 8px;
  }
}
