/**
 * Type: Base.
 * Print.
 */
@page {
  size: a3;
}

.header,
.footer,
.breadcrumb {
  display: none;
}

body {
  padding-top: 0;
}

.section--spacing-top-negative {
  margin-top: auto;
}

section,
section > div,
.section,
.layout__region,
.container,
.row {
  break-inside: avoid;
}

.layout--twocol-section .row {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.layout--threecol-section .row {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
