/**
 * Type: Base.
 * Variables.
 */

:root {
  /* Colors
  ********************/
  --color-primary: #006e73;
  --color-primary-hover: #00595d;
  --color-black: #000;
  --color-white: #fff;
  --color-gray: #e7ebe3;
  --color-gray-medium: #474747;
  --color-gray-dark: #282828;
  --color-error: #f00;
  --color-cta: #d8204c;
  --color-cta-hover: #d8204c;
  --color-secondary: #8db2c3;
  --color-secondary-light: #c6d9df;
  --color-light-mint: #9bc2bd;

  /* Default theme-colors
  ********************/
  --theme-background-color: var(--color-white);
  --theme-color: var(--color-black);
  --theme-button-background-color: var(--color-black);
  --theme-button-color: var(--color-white);
  --theme-link-color: var(--color-black);
  --theme-divider-background-color: var(--color-black);
  --theme-accordion-border-color: #d4d4d4;
  --theme-accordion-background-color: transparent;
  --theme-accordion-text-color: var(--color-black);
  --theme-input-border: #e5e3de;
  --theme-input-color-marked: var(--color-primary);
  --theme-status-message-background-color: #c6c6c6;
  --theme-status-message-background-color-status: #dff0d8;
  --theme-status-message-color-status: #3c763d;
  --theme-status-message-background-color-warning: #fcf8e3;
  --theme-status-message-color-warning: #8a6d3b;
  --theme-status-message-background-color-error: #fce3e3;
  --theme-status-message-color-error: #763c3c;

  /* Typography
  ********************/
  --base-font-family: "FoundrySterlingBook", "sans-serif";
  --base-font-size-xxxxlarge: 60px;
  --base-font-size-xxxlarge: 50px;
  --base-font-size-xxlarge: 40px;
  --base-font-size-xlarge: 28px;
  --base-font-size-large: 22px;
  --base-font-size-medium: 18px;
  --base-font-size: 16px;
  --base-font-size-small: 14px;
  --base-font-size-extra-small: 12px;
  --base-font-weight: normal;
  --medium-font-family: "FoundrySterlingMedium", "sans-serif";
  --medium-font-weight: normal;

  /* Layout
  ********************/
  --site-background-color: var(--color-white);
  --container-width: 1560px;
  --grid-section-spacing: 50px;
  --grid-section-spacing--mobile: calc(var(--grid-section-spacing) / 2);
  --gutter-width: 50px;
  --gutter-width-mobile: 35px;
  --half-gutter-width: calc(var(--gutter-width) * .5);
  --half-gutter-width-mobile: calc(var(--gutter-width-mobile) * .5);
  --half-gutter-compensation: calc(var(--half-gutter-width) * -1);
  --half-gutter-compensation-mobile: calc(var(--half-gutter-width-mobile) * -1);
  --container-spacing--mobile: 20px;
  --container-spacing: 25px;

  /* Header */
  --header-height: 76px;
  --header-height-mobile: 60px;
  --heading-font-family: "FoundrySterlingBold", "sans-serif";
  --heading-font-weight: normal;
  --header-text-color: #232323;
  --header-selected-text-color: var(--color-primary);
  --header-border-color: #ced3c8;

  /* Meta menu */
  --meta-menu-height: 44px;
  --meta-menu-height-mobile: 32px;
  --meta-menu-background-color: #f7f7f7;
  --meta-menu-text-color: var(--color-primary);

  /* Button */
  --button-border-radius: 50px;
  --button-border-width: 1px;
  --button-border-color: transparent;
  --button-height: 60px;
  --button-padding: 0 60px;
  --button-font-weight: 500;
  --button-font-family: var(--heading-font-family);
  --button-font-size: var(--base-font-size);
}
