//------------- DETAIL INFORMATION -------------------
.content-container {
  .content {
    @include container;
    @extend %clearfix;
    // for node news
    .node-type-news &,
    .node-type-article &,
    .node-type-job & {
      padding: 46px 0;
    }
    // For ie8
    .lt-ie8 & {
      width: 981px;
      max-width: none;
    }

    .breadcrumb {
      a {
        font: 12px Arial;
        font-weight: bold;
        text-transform: uppercase;
        @include links($dark-grey, $red);
      }
    }
    @include at-breakpoint(12 $width-1040) {
      max-width: 90%;

      // For Article
      .embedded {
        .content {
          max-width: none;
        }
      }

    }

    // Sitebar
    @include at-breakpoint(12 $width-768) {
      .sidebar, .list-sidebar {
        @include span-columns(12 of 12);
      }
    }

    .node-content,
    .list-content {
      @include span-columns(7, 12);
      @include at-breakpoint(12 $width-768) {
        @include span-columns(12, 12);
      }
      .breadcrumb + .pane-go-back-link {
        a {
          font: 9pt Arial;
          font-weight: 700;
          text-transform: uppercase;
          color: $liteGray;
          &:focus, &:hover {
            text-decoration: underline;
            color: $link-red;
          }
        }
      }
      .swiper-container {
        height: auto;

        // for article
        .node-type-article & {
          height: auto;
          background: none;
        }

      }
      h1 {
        margin: 20px 0;
      }
      .author {
        margin: 17px 0;
        span {
          font: 11pt Arial;
          color: $dark-grey;
        }
      }
      .node-body {
        margin-bottom: 20px;
        padding: 0 0 20px;

        // For Article
        .node-type-article & {
          border: 0;
        }

        p {
          font: 13pt Arial;
          color: $slategrey;
          line-height: 25px;
        }

        a {
          @include links($link-red, $dimgray, underline);
        }
      }
      .teaser {
        font: 18pt $sans-book;
        color: $slategrey;
        line-height: 33px;
        margin: 18px 0;
      }
      h2 {
        font-size: 20pt;
        font-weight: bold;
      }
      .pane-node-updated,
      .manual-date {
        @extend %clearfix;
        margin: 0 0 8px;
        &, h2 {
          font: 10pt Arial;
          color: $dark-grey;
        }
        h2, span {
          float: left;
          margin-right: 10px;
        }
      }

      //---for form comment---
      .pane-node-comment-form {
        h2 {
          font-size: 20pt;
          margin: 5px 0;
        }
        label {
          font: 12pt Arial;
          color: $dark-grey;
          padding: 5px 5px 5px 0;
        }
        .form-item {
          margin: 0 0 35px;
        }
      }
      .ckeditor_links {
        padding: 5px 0;
        display: block;
      }
      .filter-wrapper {
        a {
          padding: 5px 0;
        }
        ul {
          li {
            margin: 10px 0;
            padding-left: 10px;
          }
        }
      }
      input[type="submit"] {
        display: block;
        padding: 8px 25px;
        cursor: pointer;
        font: 9pt Arial;
      }
      .form-type-checkbox {
        input {
          float: left;
          margin-right: 22px;
        }
      }
      .form-radios {
        .form-type-radio {
          @extend %clearfix;
        }
        input {
          float: left;
        }
      }
      .factbox {
        margin: 43px 0;
        .teaser {
          margin: 10px 0;
        }
        .node-body {
          padding-bottom: 0;
          margin-bottom: 0;
        }
      }
      .pane-node-field-related-content {
        margin: 15px 0;
        .related-content {
          margin: 10px 0;
          a {
            color: $red;
            &:focus,
            &:hover {
              color: $dimgray;
            }
          }
        }
      }

      //------------------------------------------------------------------------
      // Article

      // Buttons self service
      .self-service {
        width: 100%;
        min-height: 89px;
        @include border-radius(10px);
        background: $red;
        position: relative;
        margin: 10px 0;
        @include transition-property(background-color);
        @include transition-duration(0.3s);
        &:after {
          @extend %before-after;
          width: 35px;
          right: 26px;
          @include center-vertical(46);
          @include sprite(0px, -46px);
          @include at-breakpoint(12 $width-480) {
            display: none;
          }
          @include at-breakpoint($width-980 12 $width-1024) {
            display: none;
          }
        }
        &:hover {
          background: $dark-grey;
        }
        a, span {
          display: block;
        }
        a {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          padding: 20px;
          background: $red;
          &:hover, &:focus {
            background: $dark-grey;
          }
        }
        span {
          font-family: Arial;
          color: $white;
          line-height: 20px;
        }
        .title {
          font-size: 22px;
          font-weight: bold;
          margin-bottom: 10px;
          @include at-breakpoint(12 $width-480) {
            font-size: 16px;
          }
        }
        .teaser {
          margin: 0;
          font-size: 16px;
          @include at-breakpoint(12 $width-480) {
            font-size: 14px;
          }
        }
        &.red-background a {
          background: $red;
          &:hover, &:focus {
            background: $dark-grey;
          }
        }
        &.light-grey-background {
          background: $indian-yellow;
          &:hover {
            background: $grey;
          }
        }
        &.blue-background a {
          background: $blue-bannerlink;
          &:hover, &:focus {
            background: $dark-grey;
          }
        }
      }
      // Contacts
      .pane-node-field-contact-information {
        margin: 42px 0;
        h2 {
          letter-spacing: 1px;
          margin-bottom: 34px;
        }
        .contact-info {
          font: 15px Arial;
          line-height: 25px;
          float: left;
          width: 50%;
          &, a {
            color: $dimgray;
          }
          a {
            font-weight: bold;
            &:focus,
            &:hover {
              color: $link-red;
            }
          }
        }
        .hours-field {
          @include span-columns(5 omega, 10);
          font: 15px Arial;
          line-height: 25px;
          color: $dimgray;
          @include at-breakpoint(12 $width-600) {
            font-size: 13px;
          }
          @include at-breakpoint(12 $width-480) {
            @include span-columns(12, 12);
            margin: 10px 0;
          }
          .opening-hours-item {
            clear: both;
          }
          span {
            width: 30%;
            margin-right: 2%;
            float: left;
            display: block;
            &:last-child {
              margin-right: 0;
              width: 40%;
            }
          }
        }
        .name-block {
          font-weight: bold;
        }
      }
      // Publications
      .publications {
        h3 {
          margin-bottom: 34px;
        }
        .decription {
          p {
            font: 15px Arial;
            line-height: 25px;
            color: $dimgray;
          }
          a {
            @include links($red, $dimgray);
            * {
              @include links($red, $dimgray);
            }
          }
        }
      }

      // Faq
      > .faq, > .embedded {
      border-bottom: 1px solid $border-top-over-all-news;
      border-top: 1px solid $border-top-over-all-news;}
       .faq, .embedded {
        padding: 25px 0;
        margin-top: 20px;
        & + .faq, & + .embedded {
          border-top: 0;
          padding-top: 0;
        }
        header {
          h2 {
            margin-bottom: 31px;
          }
        }
        & > ul, .content {
          border-bottom: 4px solid $dark-grey;
          border-top: 4px solid $dark-grey;
          padding: 0;
          & > li, .microArticle {
            border-bottom: 1px solid $dark-grey;
          }
          h2.question, h2.mArticle {
            min-height: 57px;
            background: $grey;
            padding: 18px 58px 18px 18px;
            font-size: 16px;
            font-weight: bold;
            cursor: pointer;
            position: relative;
            font: $sans-book !important;
            &:hover, &:focus {
              outline: none;
              text-decoration: underline;
            }
            &:after {
              @extend %before-after;
              width: 20px;
              right: 30px;
              @include center-vertical(20);
              @include sprite(-51px, -66px);
            }
            &.open {
              background: $white;
              &:after {
                @include sprite(-79px, -66px);
              }
            }
          }
          .answer, div.mArticle {
            overflow: hidden;
            padding: 18px;
            display: none;
            h1, h2, h3, h4 {
              font-size: 16px;
              font-weight: bold;
              margin: 0;
            }
            p, a, div, li {
              font: 15px Arial;
              line-height: 20px;
              color: $dimgray;
            }
            ul, ol {
              padding: 20px;
            }
            ul {
              list-style: disc;
            }
            ol {
              list-style: decimal;
            }
            a {
              color: $red;
              &:hover, &:focus {
                color: $dimgray;
              }
            }
            .state {
              display: block;
              margin-top: 10px;
              text-indent: -999px;
              @include sprite(-79px, -66px);
              float: right;
              width: 30px;
            }
          }
          section {
            padding: 0;
            border: none;
          }
          .legislation {
            margin: 25px 0;
            h3 {
              @extend h4;
            }
            p, a {
              font: 15px Arial;
              line-height: 20px;
            }
            p {
              margin: 5px 0;
              color: $slategrey;
            }
            a {
              @include links($red, $dimgray);
            }
          }
        }
      }
      .faq li:last-child {
        border-bottom: 0;
      }

    }
  }
}
