//------------------------------------------------------------------------------
// Subject page

// Preview image
.presentation {
  background: $grey;
  position: relative;
  padding-top: 27px;
  @include at-breakpoint(12 $width-980) {
    height: 390px;
  }
  img {
    @include at-breakpoint(12 $width-980) {
      max-width: none;
    }
  }
  .pane-node-field-top-image {
    @include container;

    // For ie8
    .lt-ie8 & {
      width: 981px;
      max-width: none;
    }

  }
  .content {
    padding: 0;
    .breadcrumb {
      display: none;
    }
  }
  .information {
    width: 357px;

    background: $whitesmoke;
    @include center-vertical(314);
    margin-top: -145px;
    padding: 36px;
    @include at-breakpoint(12 $width-980) {
      width: 90%;
      margin-top: -130px;
      background: rgba(255, 255, 255, 0.75);
    }
    @include at-breakpoint(12 $width-480) {
      margin-top: -140px;
    }
    h1 {
      font-size: 30px;
      font-weight: bold;
      letter-spacing: 0.5px;
      margin-bottom: 23px;
    }
    .teaser {
      font: 24px $sans-book;
      color: #666;
      height: 190px;
      overflow: hidden;
      line-height: 28px;
      letter-spacing: -0.5px;
      @include at-breakpoint(12 $width-480) {
        height: 170px;
      }
    }
  }
}

// Navigation subject-list
.menuitems.content {
  margin: 50px auto;
  .content {
    padding: 0;
  }

  .subject-list {
    @extend %clearfix;
    .subject-item {
      @include span-columns(3, 9);
      margin-bottom: gutter(9);
      background: $grey;
      min-height: 290px;
      position: relative;
      cursor: pointer;
      &:nth-child(3n) {
        margin-right: 0;
      }
      @include at-breakpoint(12 $width-980) {
        @include span-columns(6, 12);

        &:nth-child(3n) {
          margin-right: gutter(12);
        }
        &:nth-child(2n) {
          margin-right: 0;
        }
      }
      @include at-breakpoint(12 $width-768) {
        @include span-columns(12, 12);
        &, &:nth-child(2n), &:nth-child(3n) {
          margin-right: 0;
        }
      }
      @include transition-property(background);
      @include transition-duration(0.3s);
      a {
        display: block;
        padding: 30px 35px;
        min-height: 290px;
        text-decoration: none;
        h2 {
          font-size: 24px;
          font-weight: bold;
          @include links(#666, $red, none, none);
          letter-spacing: 0.5px;
          line-height: 24px;
          word-wrap: break-word;
        }
        p {
          margin-top: 25px;
          font: 16px/22px Arial;
          @include links(#666, $red, none, none);
        }
      }
      &:hover {
        background: $white;
        outline: 1px solid $red;
        h2 {
          &:before, &:after {
            @include opacity(1);
          }
        }
        &:before, &:after {
          @include opacity(1);
        }
      }

      // For ie8
      .lt-ie8 & {
        margin-right: 1%;
      }

    }
  }
}
