//------------------------------------------------------------------------------
// User page
.user-info {
  background: $white;

  .content-container {
    min-height: 250px;
    padding: 50px 0;
  }

  .pane-title {
    @include font-size(22);
    font-family: $sans-med-strict;
    margin-bottom: 20px;
    text-transform: uppercase;
  }


  .pane-user-profile {
    @include font-size(16);
    line-height: 1.4;
  }

  .form-text {
    height: 17px;
    @include font-size(14);
  }
}
