/**
 * Type: Molecules.
 * Breadcrumb.
 */
.breadcrumb {
  position: relative;
  padding: 30px 0;
  font-size: var(--base-font-size-small);

  &__items {
    position: relative;
    z-index: 1;
    margin: 0;
    padding: 0;
  }

  &__item {
    display: inline-block;
    list-style: none;
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-size: var(--base-font-size-medium);
    color: var(--color-primary);

    & + &::before {
      content: '/';
      padding: 5px 3px;
    }
  }

  &__item__news {
    display: inline-block;
    list-style: none;
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-size: var(--base-font-size-medium);
    color: var(--color-primary);
    vertical-align: baseline;
  }

  &__link {
    color: var(--color-primary);
    text-decoration: none;
    font-family: var(--header-font-family);
    font-weight: var(--header-font-weight);
    font-size: var(--base-font-size-medium);
    display: inline-block;
    position: relative;
    transition: color .2s;

    &-icon {
      position: relative;
      width: 25px;
      height: 25px;
      display: none;

      & .icon {
        position: absolute;
        top: 3px;
        left: 0;
        width: 25px;
        height: 25px;
      }
    }

    &--active {
      color: var(--color-gray-medium);
    }

    @media (--viewport-ms-max) {
      &-first {
        & span {
          display: none;
        }

        .breadcrumb__link-icon {
          display: inline-block;
        }
      }
    }
  }
}
