//-----------------------------------------------------------------------------
// Images
$sprite: "../images/sprite.png";

//-----------------------------------------------------------------------------
// Fonts

/*$font-serif: serif;

$sans:  "DINNextRoundedLTW01-Reg", Helvetica, Arial, sans-serif;
$sans-strict:  "DIN Next W01 Regular", Helvetica, Arial, sans-serif;

$sans-med:        "DINNextRoundedLTW01-Med", Helvetica, Arial, sans-serif;
$sans-med-strict: "DIN Next W01 Medium", Helvetica, Arial, sans-serif;

$sans-bold: "DINNextRoundedLTW01-Bol", Helvetica, Arial, sans-serif;
$sans-bold-strict: "DIN Next W01 Bold", Helvetica, Arial, sans-serif;

$sansLight: Helvetica, Arial, sans-serif;*/
$font-fs-book: "FoundrySterling-Book";
$font-fs-medium: "FoundrySterling-Medium";

	
//-----------------------------------------------------------------------------
// Colores

$def-color: #333;

$white: #fff;
$black: #000;

$pink: #ec0045;

$cyan: #98dff8;
$cyanlight: #d6f2fc;

$red: #a00a14;
$redcontrast: #9f0a13;

$lightgrey: #f0f0f0;
$lightergray: #a0a0a0;


$liteGray: #999;
$darkGray: #222;

$slategrey: #586464;
$slatgrayLight: #5e6a6a;
$slatgrayDark: #424a4a;

$grayLighter: #fcfcfc;
$grayLight: #f2f2f2;
$grayMedium: #393939;
$grayMediumLight: #7d7d7d;

// Green
$fern-green: #6e7d5a;

// Color schemes
$deepBlue: #172236;
$yellow: #bdc135;
$redRoskilde: #c41c33;
$orange: #ff5800;

// Links themes
$violet: #4b4899;
$dark-grey: #383838;
$gray: #666;
$dirty-yellow: #c3c003;
$pink: #e27c8c;
$salatGreen: #a2c155;


/*
font-family:'DIN Next W01 Regular';
font-family:'DIN Next W01 Italic';
font-family:'DIN Next W01 Medium';
font-family:'DINNextW01-MediumItalic';
font-family:'DIN Next W01 Bold';
font-family:'DINNextW01-BoldItalic';
font-family:'DINNextRoundedLTW01-Lig';
font-family:'DINNextRoundedLTW01-Reg';
font-family:'DINNextRoundedLTW01-Med';
font-family:'DINNextRoundedLTW01-Bol';

*/
