//-----------------------------------------------------------------------------
// Images
$sprite: "../images/sprite.png";

//-----------------------------------------------------------------------------
// Fonts

$font-serif: serif;

$sans:  Helvetica, Arial, sans-serif;
$sans-book: "FoundrySterling-Book", $sans;
$sans-medium: "FoundrySterling-Medium", $sans;
//$sans-arial-regular: "Arial-Regular", $sans;


//-----------------------------------------------------------------------------
// main width
$main_width: 982px;
$main_width_not_px: 932;


//-----------------------------------------------------------------------------
//Responsive width

$width-1240: 1240px;
$width-1024: 1024px;
$width-1040: 1040px;
$width-980: 980px;
$width-768: 768px;
$width-600: 600px;
$width-480: 480px;
$width-380: 380px;
$width-320: 320px;




//-----------------------------------------------------------------------------
// Colores

$border-top-over-news: #b8b8b8;

$border-top-over-all-news: #586464;

$header_bottom_line: #ececeb;


$white: #fff;
$black: #000;
$red: #be3b2a;
$white-red: #bf3924;
$dark-grey: #666666;
$dark-white-grey: #6C6C6C;
$orange: #d17569;
$light-blue: #cce0df;
$grey: #ecedeb;
$dark-green: #00655e;
$dimgray: #586464;

// Roskilde color
$grayLight: #f2f2f2;
$slategrey: #586464;
$slatgrayLight: #5e6a6a;
$slatgrayDark: #424a4a;
$lightgrey: #f0f0f0;
$lightergray: #a0a0a0;
$pink: #ec0045;
$whitesmoke: #F9FAF9;
$lime: #13A89E;
//--------------------------------------------------------------------

$cyan: #98dff8;
$cyanlight: #d6f2fc;
$red: #a00a14;
$redcontrast: #9f0a13;
$liteGray: #999;
$darkGray: #222;
$grayLighter: #fcfcfc;
$grayMedium: #393939;
$grayMediumLight: #7d7d7d;

//// Green
$fern-green: #6e7d5a;
$fern-grey: #8db2bf;
$fern-blue: #e7ebe3;

//// Color schemes
$deepBlue: #172236;
$yellow: #bdc135;
$redRoskilde: #c41c33;
$orange: #ff5800;

//// Links themes
$violet: #4b4899;
$dark-grey: #383838;
$gray: #666;
$dirty-yellow: #c3c003;
$pink: #e27c8c;
$salatGreen: #a2c155;


/*
font-family:'DIN Next W01 Regular';
font-family:'DIN Next W01 Italic';
font-family:'DIN Next W01 Medium';
font-family:'DINNextW01-MediumItalic';
font-family:'DIN Next W01 Bold';
font-family:'DINNextW01-BoldItalic';
font-family:'DINNextRoundedLTW01-Lig';
font-family:'DINNextRoundedLTW01-Reg';
font-family:'DINNextRoundedLTW01-Med';
font-family:'DINNextRoundedLTW01-Bol';
*/
